<!-- app.hbs
Check https://www.microsoft.com/en-gb/security/mobile-authenticator-app for an axample
-->
<section id="get-the-app" class="flexy">
    <hgroup class="flexy" title="Get the Rapid app">
        <h2>Get the <strong>app</strong> on your phone&period;</h2>
        <p>Rapid Mobile provides additional support for Rapid apps on mobile devices&period; Your Rapid application will be downloaded to your device so it runs faster&comma; with or without a mobile signal or wifi&period; Images from your camera or gallery can also be brought into your app and uploaded to your server&period; GPS and location support is also provided&period;</p>
        <p>Scan the QR code with your iOS&comma; or Android mobile device&period;</p>
    </hgroup>
    <div class="container flexy row">
        <figure>
            <a href="https://apps.apple.com/app/id1213920904" title="Download on the App Store" target="_blank" rel="noopener"><img src="{{asset 'images/badge-app-store.png'}}" alt="App Store" /></a>
        </figure>
        <figure>
            <a href="https://play.google.com/store/apps/details?id=com.rapid.mobile" title="Get it on Google Play" target="_blank" rel="noopener"><img src="{{asset 'images/badge-google-play.png'}}" alt="Google Play" /></a>
        </figure>
        {{!--<figure>
            <a href="https://apps.microsoft.com/store/detail/rapid-mobile-client/9NDRFQM00Q0M" title="Get it from Microsoft" target="_blank" rel="noopener">
            {{> "icons/microsoft"}}
            </a>
        </figure>--}}
    </div>
    <footer class="flexy">
        <pre>Apple and the Apple logo are trademarks of Apple Inc&period;</pre>
        <pre>Google Play and the Google Play logo are trademarks of Google LLC&period;</pre>
        {{!--<pre>Microsoft and the Microsoft Store logo are trademarks of the Microsoft group of companies&period;</!pre>--}}
        <details class="flexy">
            <summary class="flexy row"><h5>Installation <strong>link</strong> and <strong>QR</strong> builder&period;</h5></summary>
            <p>Make things easy for your users with a QR code or Google Play install url. Enter values for your Rapid platform into the boxes below, and hyperlinks will be generated underneath. You can scan the QR code in the Rapid Mobile app settings menu, or you can launch Google Play and Rapid Mobile will configure itself when it installs.</p>
        </details>
    </footer>
</section>