<!-- clients.hbs -->
<div class="container flexy row disable-scrollbar horizontal-scrolling bouncing" data-play-state="running">
    <figure class="flexy" title="Arhag Housing Association" tabindex="0">
        {{> "clients/arhag"}}
        <figcaption>Arhag Housing Association</figcaption>
    </figure>
    <figure class="flexy" title="Ealing Council" tabindex="0">
        {{> "clients/ealing"}}
        <figcaption>Ealing Council</figcaption>
    </figure>
    <figure class="flexy" title="Westminster City Council" tabindex="0">
        {{> "clients/westminster-black"}}
        <figcaption>Westminster City Council</figcaption>
    </figure>
    <figure class="flexy" title="East Herts District Council" tabindex="0">
        {{> "clients/east-herts"}}
        <figcaption>East Herts District Council</figcaption>
    </figure>
    <figure class="flexy" title="Lambeth Council" tabindex="0">
        {{> "clients/lambeth"}}
        <figcaption>Lambeth Council</figcaption>
    </figure>
    <figure class="flexy" title="Islington Council" tabindex="0">
        {{> "clients/islington"}}
        <figcaption>Islington Council</figcaption>
    </figure>
    <figure class="flexy" title="Enfield Council" tabindex="0">
        {{> "clients/enfield"}}
        <figcaption>Enfield Council</figcaption>
    </figure>
    <figure class="flexy" title="Tower Hamlets Council" tabindex="0">
        {{> "clients/tower-hamlets"}}
        <figcaption>Tower Hamlets Council</figcaption>
    </figure>
    <figure class="flexy" title="Richmond Housing Partnership" tabindex="0">
        {{> "clients/rhp"}}
        <figcaption>Richmond Housing Partnership</figcaption>
    </figure>
    <figure class="flexy" title="Stevenage Borough Council" tabindex="0">
        {{> "clients/stevenage"}}
        <figcaption>Stevenage Borough Council</figcaption>
    </figure>
    <figure class="flexy" title="Camden Council" tabindex="0">
        {{> "clients/camden"}}
        <figcaption>Camden Council</figcaption>
    </figure>
    <figure class="flexy" title="Haringey Council" tabindex="0">
        {{> "clients/haringey"}}
        <figcaption>Haringey Council</figcaption>
    </figure>
    <figure class="flexy" title="Torus Homes" tabindex="0">
        {{> "clients/torus-homes"}}
        <figcaption>Torus Homes</figcaption>
    </figure>
    <figure class="flexy" title="Lewisham Council" tabindex="0">
        {{> "clients/lewisham"}}
        <figcaption>Lewisham Council</figcaption>
    </figure>
    <figure class="flexy" title="Southern Housing" tabindex="0">
        {{> "clients/southern-housing"}}
        <figcaption>Southern Housing</figcaption>
    </figure>
</div>