<!-- cookies.hbs -->
<aside class="cookies flexy">
    <h4>We use cookies&excl;</h4>
    <p>We use cookies to serve our customers and website visitors in the best possible way&period; Cookies are used for the proper functioning of the website and for improving the user experience&comma; monitoring visitor traffic and marketing purposes&period; By continuing to browse the site&comma; you agree to our use of cookies&period; For more information&comma; please read our <a href="/cookie-policy/" title="Cookie policy">Cookie policy</a>&period;</p>
    <form class="actions flexy row">
        <button type="button">Accept cookies</button>
        <button type="button">Deny</button>
    </form>
</aside>