<!-- cookies.hbs -->
<h4>We use cookies&excl;</h4>
<p>We use cookies on this site to enhance your user experience and to collect information about how you use our website&period; We use this information to make the website work as well as possible and to improve our content&period; For more information&comma; please read our <a href="/cookie-policy/" title="Cookie policy">Cookie policy</a>&period;</p>
<form class="actions flexy row">
    <button type="button">Accept cookies</button>
    <button type="button">Deny</button>
</form>