<!-- cookies.hbs -->
<aside class="cookies flexy row">
    <hgroup class="flexy">
        <h4 id="we-use-cookies" title="We use cookies">We use cookies&excl;</h4>
        <p>We use cookies to enhance your experience&comma; ensure website functionality&comma; analyze traffic&comma; and for marketing purposes&period; By browsing our site&comma; you agree to our cookie policy&period; Learn more in our <a href="/cookie-policy/" title="Cookie policy">Cookie policy</a>&period;</p>
    </hgroup>
    <form class="actions flexy row">
        <button type="button" title="Accept cookies">Accept cookies</button>
        <button type="button" title="Deny" class="invert">Deny</button>
    </form>
</aside>