<!-- cta-contact.hbs -->
<aside id="start-journey" class="palette flexy">
    <hgroup class="flexy">
        <h2 id="start-your-rapid-journey-today" title="See how Rapid can help your teams stay ahead">See how Rapid can help your teams stay ahead</h2>
        <p>Elevate your team with Rapid &dash; unlocking streamlined collaboration and productivity&period; Our innovative solutions empower teams to thrive in today&apos;s dynamic business landscape&comma; offering tools for efficiency&comma; communication&comma; and seamless project management&period; Take the first step towards success &dash; explore Rapid today&period;</p>
    </hgroup>
    <footer class="flexy row">
        {{!--<a href="#demo" title="Request a demo" type="text/html" class="flexy show-modal shadowed">Request a demo</a>
        <a href="https://www.rapid-is.co.uk/demo/" title="Try it free" target="_blank" rel="noopener" type="text/html" class="flexy invert shadowed">Try it free</a>--}}
        <a href="/contact/" title="Contact us" type="text/html" class="flexy shadowed">Contact us</a>
    </footer>
</aside>