<section class="flexy">
    <hgroup>
        <h3></h3>
        <p>Think it&apos;s too early to fill out the form? Let&apos;s talk about it over a coffee someday&period; Book an appointment below&hellip;</p>
    </hgroup>
    <button type="button" title="Submit a contact form" class="show-modal">Submit a contact form</button>
</section>