<section class="flexy">
    <hgroup>
        <h3></h3>
        <p>Think it&apos;s too early to fill out the form? Let&apos;s talk about it over a coffee someday&period; Book an appointment below&hellip;</p>
    </hgroup>
    <form>
        <fieldset>
            <legend>Schedule Appointment</legend>
            <input type="date" name="" id="">
            <input type="datetime" name="" id="">
            <input type="datetime-local" name="" id="">
            <input type="week" name="" id="">
            <input type="month" name="" id="">
            <input type="time" name="" id="">
            <input type="text" name="" id="">
            <input type="url" name="" id="">
            <input type="tel" name="" id="">
            <input type="submit" value="">
            <input type="reset" value="">
        </fieldset>
    </form>
</section>