<!-- cta-contact.hbs -->
<section id="start-journey" class="palette flexy">
    <hgroup class="flexy">
        <h2 id="start-your-rapid-journey-today">See how Rapid can help your teams stay ahead</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum maiores eaque, officiis dolorem repellendus impedit recusandae est ad! Maiores dolorem ducimus voluptatibus minus?</p>
    </hgroup>
    <footer class="flexy row">
        <button type="button" title="Request a demo" class="show-modal shadowed">Request a demo</button>
        <button type="button" title="Try it free" class="invert show-modal shadowed">Try it free</button>
    </footer>
</section>