<!-- cta-contact.hbs -->
<aside id="start-journey" class="palette flexy">
    <hgroup class="flexy">
        <h2 id="start-your-rapid-journey-today" title="See how Rapid can help your teams stay ahead">See how Rapid can help your teams stay ahead</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum maiores eaque, officiis dolorem repellendus impedit recusandae est ad! Maiores dolorem ducimus voluptatibus minus?</p>
    </hgroup>
    <footer class="flexy row">
        <a href="#demo" title="Request a demo" type="text/html" class="flexy show-modal shadowed">Request a demo</a>
        <a href="https://www.rapid-is.co.uk/demo/" title="Try it free" target="_blank" rel="noopener" type="text/html" class="flexy invert shadowed">Try it free</a>
    </footer>
</aside>