<!-- cta-contact.hbs -->
<section id="start-journey" class="flexy">
    <hgroup class="flexy">
        <h2 id="start-your-rapid-journey-today">Start your <strong>Rapid journey</strong> today&excl;</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum maiores eaque, officiis dolorem repellendus impedit recusandae est ad! Maiores dolorem ducimus voluptatibus minus?</p>
    </hgroup>
    <footer class="flexy">
        <button type="button" title="Contact Rapid" class="show-modal shadowed">Contact Rapid</button>
    </footer>
</section>