<!-- default-form.hbs -->
<h3>Start Your Rapid Journey Today&excl;</h3>
<form method="dialog">
    <input type="text" name="name" id="dialogName" />
    <input type="email" name="email" id="dialogEmail" />
    <input type="submit" id="submit" value="Submit" />
    <input type="reset" value="Reset" />
</form>