<!-- default-form.hbs -->
<form method="dialog" class="flexy">
    <fieldset class="flexy row">
        <legend>
            <h3>Start Your Rapid Journey Today&excl;</h3>
        </legend>
        <input type="text" name="name" id="dialogName" />
        <input type="email" name="email" id="dialogEmail" />
        <input type="submit" id="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </fieldset>
</form>