<!-- faq.hbs -->
<section id="faq" class="palette flexy">
    <hgroup class="flexy">
        <h2>Do you have questions&quest;</h2>
        <p>We have answers (well, most of the times&excl;)</p>
        <p>Below you&apos;ll find answers to the most common questions you may have on Rapid&period; If you still can&apos;t find the answer you&apos;re looking for&comma; just <a href="/contact/" title="Contact us">contact us</a>&excl;</p>
    </hgroup>
    <form class="flexy">
        <legend class="flexy">
            <h3>Frequently asked questions (FAQ)</h3>
        </legend>
        <label for="search-faq" class="flexy row">Ask us anything&excl;<input type="search" name="faq" id="search-faq" placeholder="Search our support page for answers&hellip;" /></label>
    </form>
    <article class="flexy">
        <details class="flexy">
            <summary class="flexy row"><h5>Installation <strong>link</strong> and <strong>QR</strong> builder&period;</h5></summary>
            <p>Make things easy for your users with a QR code or Google Play install url. Enter values for your Rapid platform into the boxes below, and hyperlinks will be generated underneath. You can scan the QR code in the Rapid Mobile app settings menu, or you can launch Google Play and Rapid Mobile will configure itself when it installs.</p>
        </details>
    </article>
</section>