<!-- form.hbs -->
<aside class="flexy">
    <form class="flexy">
        <fieldset class="flexy">
            <legend><h2>Let&apos;s make it <strong>happen&period;</strong></h2></legend>
            <label for="leadName">Full name&colon;<input type="text" name="name" id="leadName" autocomplete="name" required="required" /></label>
            <label for="leadPhone">Phone number&colon;<input type="tel" name="phone" id="leadPhone" autocomplete="tel" required="required" /></label>
            <label for="leadEmail">Email address&colon;<input type="email" name="email" id="leadEmail" autocomplete="email" required="required" /></label>
            <label for="leadMessage">Your message&colon;<textarea name="message" id="leadMessage" required="required"></textarea></label>
            <div class="controls flexy row">
                <input type="submit" value="Submit" title="Submit" />
                <input type="reset" value="Reset" title="Reset" />
            </div>
        </fieldset>
    </form>
</aside>