<dialog>
    <h3>Start Your Rapid Journey Today&excl;</h3>
    <form>
        <input type="text" name="name" id="dialogName" />
        <input type="email" name="email" id="dialogEmail" />
        <button type="button">Talk to me</button>
        <input type="reset" value="Reset">
    </form>
</dialog>