{{#get "posts" include="tags,authors" filter="primary_tag:solutions" limit="all" order="published_at asc" limit=@config.posts_per_page as |post|}}
{{#post}}
<article class="{{#if @even}}even{{else}}odd{{/if}}">
    <h2>{{title}}</h2>
    <p><a href="{{url}}">{{title}}</a></p>
</article>
{{/post}}
{{/get}}