<!-- newsletter.hbs -->
<section id="newsletter" class="palette flexy row">
    {{#if @member}}<p>Thanks for becoming a member 🎉</p>
    {{else}}<form id="join-newsletter" class="flexy shadowed" method="get" data-play-state="running">
        <fieldset class="flexy">
            <legend class="flexy" title="Subscribe to our newsletter">
                <h2 id="subscribe-to-our-newsletter">Subscribe to the Rapid newsletter</h2>
                <p>Please complete the form below to subscribe to our newsletter&colon;</p>
            </legend>
            <div class="flexy row">
                <label for="lead-email" title="Please enter a valid email address">Email address&colon;<input type="email" name="email" id="lead-email" autocomplete="email" required="required" {{!--placeholder="john&period;doe&commat;xyz&dash;council&period;com"--}}/></label>
                <label for="lead-fname" title="Please enter your first name">First name&colon;<input type="text" name="fname" id="lead-fname" autocomplete="given-name" required="required" {{!--placeholder="John"--}}/></label>
                <label for="lead-lname" title="Please enter your last name">Last name&colon;<input type="text" name="lname" id="lead-lname" autocomplete="family-name" required="required" {{!--placeholder="Doe"--}}/></label>
                <label for="lead-organisation" title="Please enter your organisation name">Your organisation&colon;<input type="text" name="organisation" id="lead-organisation" autocomplete="organization" required="required" {{!--placeholder="XYZ Council"--}}/></label>
                <label for="lead-role" title="Please enter your role">Your role&colon;<input type="text" name="role" id="lead-role" autocomplete="organization-title" {{!--placeholder="Project manager"--}}/></label>
            </div>
            <div class="flexy row">
                <label for="lead-sector" title="Please select your sector">Your sector&colon;<select name="sector" id="lead-sector" size="1" autocomplete="off" required="required">
                    <option value="" disabled="disabled" selected="selected">Please select an option&hellip;</option>
                    <option value="authority">Local authority staff or member</option>
                    <option value="government">Central government</option>
                    <option value="private">Private sector</option>
                    <option value="contractors">Contractors</option>
                    <option value="landlords">Social housing landlords</option>
                    <option value="other">Other</option>
                </select></label>
                <label for="lead-interest" title="Please select your interest">Your interest&colon;<select name="interest" id="lead-interest" size="1" autocomplete="off" required="required">
                    <option value="" disabled="disabled" selected="selected">Please select an option&hellip;</option>
                    <option value="studies">Case studies</option>
                    <option value="news">Latest news</option>
                    <option value="research">Research</option>
                </select></label>
                <label for="lead-region" title="Please select your region">Your region&colon;<select name="region" id="lead-region" size="1" autocomplete="off" required="required">
                    <option value="" disabled="disabled" selected="selected">Please select an option&hellip;</option>
                    <option value="greater&dash;london">Greater London</option>
                    <option value="south&dash;east">South East</option>
                    <option value="south&dash;west">South West</option>
                    <option value="west&dash;midlands">West Midlands</option>
                    <option value="east&dash;of&dash;england">East of England</option>
                    <option value="north&dash;west">North West</option>
                    <option value="north&dash;east">North East</option>
                    <option value="yorkshire&dash;and&dash;the&dash;humber&dash;east">Yorkshire and the Humber East</option>
                    <option value="scotland">Scotland</option>
                    <option value="wales">Wales</option>
                </select></label>
            </div>
            <pre>By completing this form&comma; you consent to receiving email updates from Rapid Information Systems&period; Your details won&apos;t be shared with other organisations and you can opt out of receiving emails at any time using the unsubscribe link at the bottom of each email&period; For more information on our privacy practices and commitment to protecting your privacy&comma; read our <a href="/privacy-policy/" title="Privacy policy">Privacy policy</a>&period;</pre>
            <div class="controls flexy row">
                <input type="submit" value="Subscribe" title="Subscribe" />
                <input type="reset" value="Reset" title="Reset" />
            </div>
        </fieldset>  
    </form>{{/if}}
</section>