<!-- newsletter.hbs -->
<form>
    <fieldset>
        <legend>
            <h3>Subscribe to our newsletter</h3>
            <h4>Be the first to learn about new Rapid resources and tips</h4>
        </legend>
        <label>Email&colon; <input type="email" name="email" title="Email" /></label>
        <p>Rapid needs the contact information you provide to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our <a href="#" title="Privacy notices">Privacy notices</a>&period;</p>
        <label>Stay up to date<input type="submit" title="Stay up to date" /></label>
    </fieldset>
</form>