<!-- partners.hbs -->
<section id="partner-with-leaders" class="palette flexy">
    <hgroup class="flexy" title="Accreditation&comma; frameworks and partners">
        <h2 id="accreditation-frameworks-partners">Accreditation&comma; <strong>frameworks</strong> &amp; partners&period;</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est expedita animi optio dignissimos possimus, Ab perferendis suscipit accusamus nobis inventore nostrum facilis quisquam impedit quo dolores. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus labore, suscipit neque blanditiis in ratione. Repudiandae asperiores doloremque, sint ab saepe esse accusantium cumque! Natus sint nulla sed modi non.</p>
    </hgroup>
    <div class="container flexy row">
        <figure title="Cyber Essentials" tabindex="0">
            <img src="{{asset 'images/cyber-essentials-150x150.png'}}" alt="" class="shadowed" />
        </figure>
        <figure title="Crown Commercial Service Supplier" tabindex="0">
            <img src="{{asset 'images/crown-commercial-service-supplier.png'}}" alt="" class="shadowed" />
        </figure>
        <figure title="Amazon Web Services" tabindex="0">
            {{> "icons/aws"}}
        </figure>
        <figure title="Microsoft Partner" tabindex="0">
            <img src="{{asset 'images/ms-partner.jpeg'}}" alt="" class="shadowed" />
        </figure>
        <figure title="Oracle" tabindex="0">
            {{> "icons/oracle"}}
        </figure>
        <figure title="Java" tabindex="0">
            {{> "icons/java-vertical"}}
        </figure>
    </div>
</section>