<!-- rate-this.hbs -->
<h3>What do you think&quest;</h3>
<span>1 response</span>
<a href="#" title="Upvote">Upvote</a>
<a href="#" title="Funny">Funny</a>
<a href="#" title="Love">Love</a>
<a href="#" title="Surprised">Surprised</a>
<a href="#" title="Angry">Angry</a>
<a href="#" title="Sad">Sad</a>