<!-- sharing.hbs -->
<h6>Share this page&colon;</h6>
<a href="https://x.com/share?text={{encode title}}&url={{url absolute='true'}}" onclick="window.open(this.href, 'x-share', 'width=550,height=235');return false;">Share on X</a>