<form>
    <fieldset>
        <legend><h2>Let’s make it happen.</h2></legend>
        <label for="leadCompany">Company name&colon; <input type="text" name="company" id="leadCompany" /></label>
        <label for="leadPhone">phone&colon; <input type="tel" name="phone" id="leadPhone" /></label>
        <label for="leadEmail">Email&colon; <input type="email" name="email" id="leadEmail" /></label>
        <input type="submit" value="Submit" />
    </fieldset>
</form>