<!-- icons/rapid-r.hbs -->
<?xml version="1.0" encoding="UTF-8"?>
<svg width="20cm" height="20cm" version="1.1" viewBox="0 0 708.66 708.66" xmlns="http://www.w3.org/2000/svg"
    xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <defs>
        <clipPath id="a">
            <rect x="492.57" y="610.93" width="170.71" height="60" fill-opacity=".21961" />
        </clipPath>
    </defs>
    <metadata>
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title />
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g transform="translate(0 -343.7)">
        <a>
            <g transform="matrix(3.6055 0 0 3.6055 -1126 -1440.2)">
                <path
                    d="m444.14 528.11c-16.615 0.5855-48.761-2.6551-65.48 10.637-10.207 7.702-16.791 13.181-26.397 15.156-5.614 1.1541-20.386 1.3121-26.6 0.11671 13.862 15.206 35.107 23.338 55.398 15.195 8.0126-3.8601 12.254-7.2103 18.636-6.8675-3.2135 13.568 0.49258-1.7274-2.8351 11.933-17.462 1.3412-29.95 16.03-44.898 23.156-7.5768 3.612-23.336 4.3563-30.144 3.6908-1.5211-0.14868 7.4644 6.4105 11.288 8.6337 14.897 8.6609 31.933 8.9043 47.049 1.3915 4.7487-2.3603 10.227-3.1684 10.227-3.1684-2.9384 14.191-6.2679 30.512-9.2095 44.702h41.687c3.7982-20.357 6.5862-37.028 8.2672-43.198 4.4615-0.24868 8.0294 2.9952 10.472 7.3372 5.8744 11.392 9.8497 23.783 14.261 35.861h44.938c-7.1765-15.901-12.756-32.722-21.469-47.719 22.034-8.8078 31.882-38.597 19.219-58.906-6.527-10.468-16.699-14.625-26.573-16.465-6.6785-1.2446-12.016-1.3363-27.836-1.4856zm-4.5917 37.867c21.199-0.0379 23.695-0.69884 24.119 3.0275 1.0131 8.9-21.055 6.4455-26.402 6.5523-2.4172 11.926 4.8879-19.018 2.2835-9.5797z"
                    fill="#020000" stroke-width="0" />
                <path
                    d="m443.52 536.12c-13.815 0.0709-28.027-0.2672-41.469 1.9373-9.2914 1.6392-11.793 1.8702-27.062 12.924-8.4983 6.1526-18.088 10.518-28.015 10.622 13.571 8.056 28.533 2.3162 38.118-2.6812 7.8405-4.0878 12.772-5.2548 23.365-4.2512-1.8696 9.0653-3.7245 18.134-5.6418 27.189-14.187-0.92534-26.627 6.7961-36.784 15.906-6.3494 5.0324-11.012 7.7912-22.121 9.0206 10.726 5.3517 22.905 2.0169 33.086-3.0919 6.9545-2.9404 14.505-4.5288 22.089-3.9206-3.1348 15.338-6.3377 30.663-9.4988 45.996h25.819c3.0235-14.472 6.0418-28.946 9.0844-43.414 8.0388-0.96165 16.117-0.6794 22.44 8.5744 6.2304 10.972 10.186 22.997 14.503 34.839 9.177-0.0647 18.712 0.12866 27.668-0.0956-6.5148-15.61-12.177-31.502-22.44-45.135 17.051-2.1137 30.828-17.947 30.063-35.445-0.59512-13.621-8.6793-25.096-24.825-27.751-9.3442-1.1296-18.919-1.344-28.379-1.2238zm15.364 21.962c6.0628 0.0418 14.054 4.1772 12.975 12.6-1.4125 11.027-14.198 11.693-24.355 11.883-6.7662-0.097-12.771-0.2168-18.805-0.19399 1.6798-8.0513 3.3057-16.114 5.0044-24.161 8.3924-0.0662 16.79-0.18537 25.181-0.1275z"
                    fill="#ff0004" stroke="#fff8f8" stroke-linecap="round" stroke-miterlimit="7" stroke-width="5.02" />
                <path transform="translate(-133.26 13.375)"
                    d="m573.02 515.91c-19.736 1.2577-42.306-3.7935-59.025 9.4982-10.207 7.702-17.397 14.283-27.132 15.475-5.4004 1.9195-19.595 0.15246-25.388 0.84822 13.512 15.696 36.578 23.338 55.888 13.304 4.7223-2.0229 10.885-5.2119 15.344-4.9062-0.9021 3.5514-0.2779 7.8686-2.625 10.812-17.462 1.3412-29.688 15.447-44.344 23.156-7.8347 3.0121-23.858 4.1906-30.699 4.2455-6.665-5.1205 7.1424 6.5375 11.288 8.079 14.505 9.3021 34.098 9.7458 49.03 1.0943 2.298-0.3756 8.8843-4.6519 7.8501-0.74156-2.9384 14.191-5.8717 28.383-8.8133 42.573h40.023c3.3079-14.193 5.6947-29.4 9.4063-43 4.4615-0.24868 10.235 2.7271 10.997 7.1391 5.8744 11.392 9.8497 23.783 14.261 35.861h44.938c-7.1765-15.901-12.756-32.722-21.469-47.719 22.034-8.8078 32.137-38.758 19.219-58.906-6.2686-10.625-18.595-16.613-30.84-16.144-9.2774-0.81558-18.605-0.81038-27.91-0.66831zm1.5 37.219c6.9101 1.7832 15.133-1.3832 21.562 1.0312-2.8572 7.9509-13.455 6.9358-20.344 6.9375-4.332 1.4071-2.6447-2.4012-2.5-5.0312 0.1647-0.89472 0.2315-2.7744 1.2813-2.9375z"
                    clip-path="url(#a)" fill-opacity=".21569" stroke-width="0" />
            </g>
        </a>
    </g>
</svg>