<!-- error-404.hbs -->
<h1>404&colon; Page Not Found<h1>
<h2>We&apos;re sorry&comma; something unexpected happened</h2>
<p>The page you requested could not be found&period; If the problem persists&comma; please contact our support for further assistance&period; That&apos;s all we know&period;</p>