{{!< default}}
<!-- home.hbs -->
{{#is "home"}}
<section id="main-message" class="flexy row">
    <hgroup class="flexy" title="Integrate your IT systems&comma; get more done&period;">
        <h1>Integrate your <strong>IT</strong> systems&comma;<br /><strong>get more done</strong>&period;</h1>
        <p>Rapid simplifies digital transformation&comma; enhancing services&comma; saving costs&comma; and providing structured data for efficiency&comma; accuracy&comma; and AI insights&period;</p>
    </hgroup>
    <figure data-play-state="running">
        {{> "drawings/version-control"}}
    </figure>
    <footer class="flexy">
        <a href="#more-clients" title="Continue to the next section&hellip;">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>

<section id="more-clients" class="flexy">
    <hgroup class="flexy" title="Trusted by 30&plus; local authorities and housing associations&period;">
        <h2>Trusted by 30&plus; <strong>local authorities</strong> and <strong>housing associations</strong> including&hellip;</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias aspernatur, similique distinctio ad at soluta libero veritatis nulla explicabo rem qui debitis facilis error dolore tenetur eius voluptatem recusandae et. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque rem nesciunt delectus consectetur reiciendis debitis voluptate molestiae quia numquam, illo quibusdam dolorem voluptatem facilis veniam omnis ipsa vel inventore amet&period;</p>
    </hgroup>
    <div class="container flexy row disable-scrollbar horizontal-scrolling" data-play-state="running">
        <figure class="flexy" title="Arhag Housing Association" tabindex="0">
            {{> 'clients/arhag'}}
            <figcaption>Arhag Housing Association</figcaption>
        </figure>
        <figure class="flexy" title="Ealing Council" tabindex="0">
            {{> 'clients/ealing'}}
            <figcaption>Ealing Council</figcaption>
        </figure>
        <figure class="flexy" title="Westminster City Council" tabindex="0">
            {{> 'clients/westminster'}}
            <figcaption>Westminster City Council</figcaption>
        </figure>
        <figure class="flexy" title="Lambeth Council" tabindex="0">
            {{> 'clients/lambeth'}}
            <figcaption>Lambeth Council</figcaption>
        </figure>
        <figure class="flexy" title="Islington Council" tabindex="0">
            {{> 'clients/islington'}}
            <figcaption>Islington Council</figcaption>
        </figure>
        <figure class="flexy" title="Enfield Council" tabindex="0">
            {{> 'clients/enfield'}}
            <figcaption>Enfield Council</figcaption>
        </figure>
        <figure class="flexy" title="Stevenage Borough Council" tabindex="0">
            {{> 'clients/stevenage'}}
            <figcaption>Stevenage Borough Council</figcaption>
        </figure>
        <figure class="flexy" title="Camden Council" tabindex="0">
            {{> 'clients/camden'}}
            <figcaption>Camden Council</figcaption>
        </figure>
        <figure class="flexy" title="Haringey Council" tabindex="0">
            {{> 'clients/haringey'}}
            <figcaption>Haringey Council</figcaption>
        </figure>
    </div>
    <footer class="flexy">
        <a href="#compliance-app" title="Continue to the next section&hellip;">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>

<section id="compliance-app" class="flexy row">
    <hgroup class="flexy row" title="Streamline and enhance property compliance">
        <h2>Streamline and enhance <strong>property compliance</strong>&period;</h2>
        <p>Our compliance software application is a robust and comprehensive solution designed to simplify and streamline property compliance processes&period; With a range of powerful features, our software empowers property managers, inspectors, and safety professionals to ensure compliance with regulations&comma; mitigate risks, and prioritize the well-being of residents. From asbestos management to fire safety inspections and health and safety monitoring, our software covers all essential compliance areas.</p>
    </hgroup>
    <figure>
        {{!--<a href="/solutions/safety-and-compliance/" title="Safety and compliance"><img src="{{asset 'images/rapid-fire.png'}}" alt="Rapid&apos;s Fire risk assessment application" /></a>--}}
        {{> "drawings/mind-map"}}
    </figure>
    <div class="flexy">
        <a href="/solutions/" title="Learn more about our solutions" type="text/html" class="flexy">Learn more about our solutions</a>
    </div>
    <footer class="flexy">
        <a href="#streamlining-safety-checks" title="Continue to the next section&hellip;">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>

<section id="streamlining-safety-checks" class="flexy row reverse">
    <hgroup class="flexy" title="Streamlining safety checks&comma; repairs&comma; and complaints through digital solutions">
        <h2>We are streamlining <strong title="Safety checks">safety checks</strong>&comma; <strong title="Repairs">repairs</strong>&comma; and <strong title="Complaints">complaints</strong>&period;</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, voluptates ratione. Quae soluta delectus et placeat reprehenderit aspernatur error culpa sit fugit, laboriosam, nemo eius nostrum?</p>
    </hgroup>
    <figure data-play-state="running">
        {{> "drawings/product-iteration"}}
    </figure>
    <div class="flexy">
        <a href="/case-studies/" title="Check out our case studies" type="text/html" class="flexy">Check out our case studies</a>
    </div>
    <footer class="flexy">
        <a href="#client-testimonials" title="Continue to the next section&hellip;">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</section>
{{> "testimonials"}}
{{> "newsletter"}}
{{/is}}