{{!< default}}
<!-- index.hbs -->
{{#is "index"}}
<main class="{{post_class}}" role="main">
    <header></header>
    <footer>
        <a href="#main-content" title="Back to top" class="shadowed">
            {{> "icons/angle-down"}}
        </a>
    </footer>
</main>
{{/is}}