{{!< default}}
<!-- page-careers.hbs -->
<header>
    <h1>Careers at Rapid</h1>
</header>

<section id="meet-the-team" class="get-team-members flexy">
    {{> "team-members"}}
</section>

<section id="check-our-vacancies" class="get-job-vacancies flexy">
    {{> "job-vacancies"}}
</section>