<p>We&apos;re here to help</p>
<div>
    <figure>
        <img src="" alt="Chat" />
        <figcaption>Chat</figcaption>
    </figure>
    <figure>
        <img src="" alt="Call" />
        <figcaption>Call</figcaption>
    </figure>
    <figure>
        <img src="" alt="Email" />
        <figcaption>Email</figcaption>
    </figure>
</div>