{{!< default}}
<!-- page-logo.hbs -->
{{#is "page"}}
{{#post}}
{{#match @page.show_title_and_feature_image}}<section class="palette flexy">
    <figure class="flexy">
        {{> "icons/rapid-is"}}
    </figure>
</section>{{/match}}
{{/post}}
{{/is}}