footer {
    background-color: transparent;
}

body>footer {
    padding: 1vb 2vb;
    padding-top: 10vb;
    position: relative;
    width: 100%;
    min-height: 90dvh;
    gap: 2vb;
    color: var(--color-black);
    background-color: var(--accent-color-90);
}

body>footer section {
    padding: 1em;
    align-items: flex-start !important;
    justify-content: space-between !important;
    background-color: transparent;
    gap: 1vb;
}

body>footer section.flexy:last-of-type {
    padding: 1vb 2vb;
    font-weight: bold;
    font-size: .9rem;
    text-align: center;
}

body>footer p {
    font-size: inherit;
    width: fit-content;
}

footer .rapid-logo img {
    mix-blend-mode: darken;
}

main > section > footer {
    flex: 0 0 fit-content;
    width: 100dvw;
    max-width: 100%;
}

main > section.row > footer {
    flex: 1 0 100dvw;
}

body>footer *:is(div, address):is(.flexy) {
    flex: 1 0 20%;
    min-width: 20%;
    align-items: flex-start;
    align-content: flex-start;
    text-transform: capitalize;
    gap: 1em;
}

body>footer h6 {
    color: var(--color-dark-blue)
}

body>footer ul {
    list-style-type: none;
}

body>footer ul.flexy {
    gap: .5em;
    align-items: flex-start;
}

body>footer ul.flexy li:has(a:focus, a:hover) {
    list-style-type: disclosure-closed;
}

body>footer ul.nav.flexy.row li:has(a:focus, a:hover) {
    list-style-type: none;
}

body>footer a {
    text-decoration: none;
}

body>footer a:focus,
body>footer a:hover {
    text-decoration: underline;
    color: var(--accent-color);
    font-weight: bold;
}

.social-icons {
    gap: .5em;
}

.social-icons a {
    flex: 0 0 2em;
    width: 2em;
    user-select: none;
}

.rapid-logo a:is(:focus, :hover) img,
.social-icons a:is(:focus, :hover) img,
button[data-ghost-search]:is(:focus, :hover) {
    outline: thick solid var(--accent-color) !important;
}

.social-icons a:is(:focus, :hover) img {
    scale: 1.1;
}