footer {
    position: static;
}

#default-footer {
    padding: 1rem 2rem;
    padding-top: 15rem;
    position: relative;
    width: 100dvw;
    max-width: 100%;
    min-height: 90dvh;
    gap: 3rem;
    color: var(--color-black);
    background-color: var(--accent-color-90);
    overflow: hidden;
    font-size: 1rem;
}

#default-footer div[data-divider="top"] {
    top: -.1rem;
}

#default-footer div {
    flex: 1 0 100%;
    width: 100%;
}
 
#default-footer > div:first-child {
    min-height: fit-content;
    gap: 1rem;
}

#default-footer > div.row {
    justify-content: space-between;
    align-items: flex-start;
}

#default-footer > div:nth-child(4) {
    padding: 1dvh 2dvw;
    padding-bottom: 10dvh;
    font-weight: 500;
    font-size: .85rem;
    text-align: center;
}

#default-footer p {
    font-size: inherit;
    width: fit-content;
    text-align: center;
}

#default-footer .rapid-logo img {
    mix-blend-mode: darken;
}

main > section.row > footer {
    flex: 1 0 100dvw;
}

#default-footer > div:first-child :is(figure, div, address) {
    flex: 0 0 20%;
    min-width: 20%;
    width: 100dvw;
    max-width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    text-transform: capitalize;
    gap: 1rem;
}

#default-footer h6 {
    font-style: italic;
    color: var(--color-dark-blue)
}

#default-footer ul {
    list-style-type: none;
    align-items: flex-start;
    gap: .5rem;
}

#default-footer ul[itemscope] {
    gap: 0;
}

#default-footer li:has(a:focus, a:hover) {
    list-style-type: disclosure-closed;
}

#default-footer ul.row li:has(a:focus, a:hover) {
    list-style-type: none;
}

#default-footer a:any-link {
    text-decoration: none;
    font-weight: 500;
}

#default-footer div:has(a[href*="main-content"]) {
    bottom: 1rem;
}

#default-footer a:is(:focus, :hover) {
    color: var(--color-orange);
}

#default-footer .social-icons {
    justify-content: flex-start;
}

#default-footer .social-icons a {
    flex: 0 0 2dvw;
    width: 2dvw;
    user-select: none;
}

.rapid-logo a:focus img,
.social-icons a:focus img,
button[data-ghost-search]:focus {
    outline: thick solid var(--accent-color) !important;
}

.social-icons a:is(:focus, :hover) img {
    scale: 1.1;
}