/* @media only screen and (min-width: 1400px) {


    .tag-solutions .post .container {
        padding: 8rem 6rem;
        justify-content: center;
        gap: 5rem;
    }
    
}


@media only screen and (max-width: 1200px) {


    .tag-solutions .post .container {
        padding: 6rem 5rem;
        gap: 5rem;
    }
    
} */

@media only screen and (min-width: 1000px) {

    header nav.flexy {
        display: flex !important;
    }
}

@media only screen and (max-width: 999px) {

    header nav.flexy {
        display: none;
    }

    header nav.flexy,
    header ul.about-nav.flexy {
        position: absolute;
        inset: 0;
        height: 100dvh;
        width: 100dvw;
        place-content: center;
        z-index: 9999;
    }

    header nav.flexy ul.nav {
        flex-direction: column;
    }

    header nav.flexy ul li {
        width: fit-content;
        flex: 0 0 fit-content;
    }

    header button[type="button"][data-html-symbol="trigram-for-heaven"] {
        display: inline-block;
    }
    
}

@media only screen and (max-width: 800px) {

    /* .tag-solutions .post .container {
        padding: 6rem 2rem;
        gap: 2rem;
    } */
}

@media only screen and (max-width: 600px) {

    *.post *.palette,
    #default-footer,
    #main-message,
    #more-clients,
    #default-footer .finally,
    *.prev-next,
    *.post #content,
    *.page-contact .post #content,
    *.post *.loop,
    *.post>*.heading.flexy.row,
    *.post-template.tag-solutions .post section:first-of-type,
    *.post *.cards.palette,
    header:has(nav)  {
        padding: 1rem;
    }

    *.post-template.tag-solutions .post section:first-of-type hgroup {
        flex-direction: row;
    }

    #more-clients .container ~ p {
        padding: 0;
    }

    #default-footer {
        padding-bottom: 5.5rem;
    }

    /**:is(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }*/

    h1 {
        font-size: 2.5rem;
    }

    h1 ~ p {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.65rem;
    }

    ul.nav.flexy {
        flex-direction: row;
        justify-content: center;
    }

    *.post #sharing-is-caring {
        height: auto;
        gap: 1rem;
    }

    *.post *.cards *.container {
        gap: 2rem;
    }

    #default-footer .columns h6 {
        align-self: center;
    }

    #default-footer .columns :has(address) {
        align-items: center;
    }

    #default-footer .columns .column,
    *.post>*.heading.flexy.row,
    *.page-contact .post #content {
        gap: 1rem;
    }

    #default-footer address ul {
        flex-direction: column;
    }

    #default-footer .deeds {
        gap: .5rem;
    }

    body.post-template *.post #content .content-body > * {
        width: 100dvw;
        max-width: 100%;
    }

    body.post-template *.post #content h2 {
        font-size: 2.25rem;
    }

    #start-journey hgroup {
        max-width: 100%;
    }
    
}