/* @media only screen and (min-width: 1400px) {


    .tag-solutions .post .container {
        padding: 8rem 6rem;
        justify-content: center;
        gap: 5rem;
    }
    
}


@media only screen and (max-width: 1200px) {


    .tag-solutions .post .container {
        padding: 6rem 5rem;
        gap: 5rem;
    }
    
} */

@media only screen and (max-width: 1000px) {

    nav.flexy {
        display: none;
    }

    [data-html-symbol="trigram-for-heaven"] {
        display: inline-block;
        position: absolute;
        right: 5rem;
    }
    
}

@media only screen and (max-width: 800px) {

    /* .tag-solutions .post .container {
        padding: 6rem 2rem;
        gap: 2rem;
    } */
}

@media only screen and (max-width: 600px) {

    *.post *.cards.palette {
        padding: 2rem;
    }

    *.post *.palette,
    #default-footer,
    #main-message,
    #more-clients,
    #default-footer .finally,
    *.prev-next,
    *.post #content,
    *.post *.loop,
    *.post>*.heading.flexy.row,
    *.post-template.tag-solutions .post section:first-of-type {
        padding: 1rem;
    }

    *.post-template.tag-solutions .post section:first-of-type hgroup {
        flex-direction: row;
    }

    #more-clients .container ~ p {
        padding: 0 1rem;
    }

    #default-footer {
        padding-bottom: 5.5rem;
    }

    *:is(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.65rem;
    }

    ul.nav.flexy {
        flex-direction: row;
        justify-content: flex-start;
    }

    *.post #sharing-is-caring {
        height: auto;
        gap: 1rem;
    }

    #default-footer .columns h6 {
        align-self: center;
    }

    #default-footer .columns :has(address) {
        align-items: center;
    }

    #default-footer .columns .column,
    *.post>*.heading.flexy.row {
        gap: 1rem;
    }

    #default-footer address ul {
        flex-direction: column;
    }

    #default-footer .deeds {
        gap: .5rem;
    }

    body.post-template *.post #content .content-body > * {
        width: 100dvw;
        max-width: 100%;
    }

    body.post-template *.post #content .content-body {
        padding: 1rem;
    }

    #start-journey hgroup {
        max-width: 90%;
    }
    
}