/* Required by Ghost */

.kg-width-wide,
.kg-width-full {
    color: currentColor;
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* General classes */

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flexy.row {
    flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.disable-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Elements */

:root {
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-black: #0b0c0c;
    --color-dark-grey: #505a5f;
    --color-mid-grey: #b1b4b6;
    --color-light-grey: #f3f2f1;
    --color-white: #ffffff;
    --color-two: #14213d;
    --color-four: #e5e5e5;
    --color-red-two: #ea4848;
    --color-yellow: #ffdd00;
    --color-purple: #4c2c92;
    --color-light-purple: #6f72af;
    --color-bright-purple: #912b88;
    --color-blue: #1d70b8;
    --color-light-blue: #5694ca;
    --color-dark-blue: #003078;
    --color-pink: #d53880;
    --color-light-pink: #f499be;
    --color-orange: #f47738;
    --color-brown: #b58840;
    --color-green: #00703c;
    --color-red: #d4351c;
    --color-light-green: #85994b;
    --color-turquoise: #28a197;
    --max-width: 1920px;
}

::selection {
    color: var(--color-black);
    background-color: var(--color-white);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color: currentColor;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    color: var(--color-black);
    background-color: var(--color-light-grey);
    width: 100%;
    max-width: var(--max-width);
    gap: 0;
    overflow-x: hidden;
}

body > :is(footer) {
    padding: 1em;
}

main.flexy {
    padding-top: 5.5em;
    position: relative;
    width: 100%;
    /*border-top-left-radius: 10em;
    border-top-right-radius: 20em;
    border-bottom-left-radius: 15em;
    border-bottom-right-radius: 0;*/
    color: var(--color-black);
    background-color: var(--color-light-grey);
    gap: 0;
    font-size: 1.25rem;
    align-items: flex-start;
    animation: add-padding 1s linear 0s 1 both;
}

@keyframes add-padding {
    from { padding-top: 0em; }
    to { padding-top: 5.5em; }
}

main > section {
    padding: 1em;
    width: 100%;
    min-height: 100dvh;
}


/* main.flexy > div:last-of-type::after {
    content: " ";
    background-color: var(--color-light-grey);
    width: 100%;
    position: absolute;
    bottom: -2em;
    height: 3em;
    transform: rotate(-1deg);
} */

main.flexy>div:first-of-type {
    padding: 2em 3em;
    gap: 1em;
    font-weight: bold;
    font-size: 1.5rem;
}

main.flexy>div:first-of-type p {
    text-align: start;
    width: 100%;
}

section.ready-to-talk {
    background-color: var(--color-light-blue);
    gap: 2em;
}

section.knowhow.flexy {
    background-color: var(--color-yellow);
    text-align: center;
    gap: 2em;
}

section.knowhow.flexy form {
    gap: 1em;
}

section.knowhow.flexy fieldset {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
}

button[type="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    border-radius: 3em;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 1em;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-black);
    background-color: var(--color-light-grey);
    border-radius: 3em;
}

label+input {
    cursor: pointer;
}

div.cta-buttons {
    align-self: center;
    gap: 2em;
    padding-bottom: 2em;
}

div.cta-button {
    align-self: flex-start;
    flex: 1 0 100%;
}

div.cta-button button {
    border-radius: 0;
    width: 100%;
}

:is(button[type="button"],
    input[type="button"],
    input[type="submit"],
    input[type="reset"]):hover {
    background-color: var(--color-blue);
    outline: thick solid var(--color-yellow);
    font-weight: bolder;
}

section.knowhow.flexy input[type="submit"] {
    background-color: var(--color-light-green);
}

section.knowhow.flexy input[type="submit"]:hover {
    background-color: var(--color-turquoise);
}

fieldset.flexy {
    flex-wrap: nowrap;
    align-items: flex-start;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.25;
}

h2 {
    font-size: 2.75rem;
    line-height: 1.25;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: inherit;
}

a {
    cursor: pointer;
}

a[href="#main-content"] {
    font-size: 3rem;
    z-index: 999;
    text-decoration: none;
}

a[href="#main-content"]:hover {
    scale: 1.2;
    text-decoration: none;
    font-weight: bolder;
}

/* Elements with classes */

span.hearts {
    color: var(--color-red);
    font-size: x-large;
    cursor: wait;
}

body>header {
    position: relative;
    max-width: 100%;
    z-index: 999;
}

body>header>div.flexy.row {
    position: fixed;
    top: 0;
    padding: 1em 2em;
    justify-content: space-between;
    gap: 1em;
    opacity: .9;
    background-color: var(--color-white);
    width: 100%;
    height: 6em;
    animation: menu-go-down 500ms linear 0s 1 forwards;
}

body>header>div.flexy.row.loose {
    animation: menu-go-up 500ms linear 0s 1 forwards;
}

body>header>div.flexy.row.loose:hover,
body>header>div.flexy.row.loose:active,
body>header>div.flexy.row.loose:focus-within {
    animation: menu-go-down 500ms linear 0s 1 forwards;
}

ul.nav.flexy.row:has(:where(li.nav-solutions:focus-within, li.nav-solutions > a:hover)) ~ ul.solutions-nav,
ul.solutions-nav.flexy.row:has(a:active) {
    display: flex;
}

body>header>div.flexy.row ul ~ ul.solutions-nav:focus-visible,
body>header>div.flexy.row ul ~ ul.solutions-nav:focus-within,
body>header>div.flexy.row ul:where(:has(li.nav-solutions):has(a:hover)) ~ ul.solutions-nav {
    display: flex;
}

figure.rapid-logo {
    max-width: 280px;
}

header figure.rapid-logo {
    max-width: 60px;
}

header figure.rapid-logo img {
    mix-blend-mode: normal;
}

div:has(dialog) {
    position: relative;
}

svg {
    max-width: 100%;
    height: auto;
}

/* Some animations */

svg g#planet-one {
    animation: clockwise 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#planet-three {
    animation: left-right 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
    fill: var(--color-bright-purple);
}

svg path#rectangular-two {
    animation: shake-it 3s linear 0s infinite forwards;
    /*transform-origin: center;*/
    transform-box: fill-box;
}

svg path#square-one {
    animation: clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#square-two {
    animation: anti-clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

/* End of some animations */

g#line-one path,
g#line-two path {
    transform-origin: center;
    transform-box: fill-box;
}

g#line-one path {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

g#line-two path {
    animation: left-to-right 3s linear 0s 1 forwards, opacity-orange 6s linear 0s infinite forwards;
}

path#line-three,
path#line-four,
path#line-five {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

path#ellipse-one,
path#ellipse-two,
path#ellipse-three,
path#ellipse-four,
path#ellipse-five,
path#ellipse-six,
path#ellipse-seven,
path#ellipse-eight,
path#ellipse-nine {
    transform-origin: center;
    transform-box: fill-box;
    animation: enlarge-one 5s linear 500ms infinite;
}

path#ellipse-four {
    animation: enlarge-two 5s linear 2s infinite;
}

path#ellipse-three,
path#ellipse-nine {
    animation: enlarge-two 4s linear 2s infinite;
}

path#coffee-steam {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: steaming 20s linear 0s infinite;
}

@keyframes steaming {
    0%, 100% {
        opacity: .25;
        scale: .25;
        fill: var(--color-light-blue);
    }

    25%, 75% {
        opacity: .5;
        scale: .5;
        fill: var(--color-light-grey);
    }

    50% {
        opacity: .75;
        scale: .75;
        fill: var(--color-light-blue);
    }
}

@keyframes enlarge-one {
    0%, 100% { scale: .85; }
    30% { fill: var(--color-blue); }
    25%, 75% { scale: 1; }
    50% { scale: 1.25; }
    80% { fill: var(--color-light-grey); }
    90% { fill: var(--color-light-blue); }
}

@keyframes enlarge-two {
    0%, 100% { scale: 1; }
    10%, 90% { scale: 1.25; }
    25%, 75% { scale: 1.5; }
}

@keyframes left-to-right {
    from {
        translate: -75% 0;
    }

    to {
        translate: none;
    }
}

@keyframes opacity-orange {
    0%, 100% {
        opacity: .1;
    }

    25%, 75% {
        opacity: .6;
        fill: var(--color-orange);
    }

    50% {
        opacity: 1;
    }
}

@keyframes left-right {
    0%, 100% { translate: none; }
    25%, 75% { translate: 2em .5em; }
    50% { translate: -1em -1em; }
}

@keyframes clockwise {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes anti-clockwise {
    from {
        rotate: 360deg;
    }

    to {
        rotate: 0deg;
    }
}

ul.nav.flexy.row {
    list-style-type: none;
    gap: 1em;
    font-weight: bold;
}

ul.nav.flexy.row li.nav-get-in-touch::after {
    content: "👋";
    position: absolute;
    cursor: pointer;
}

ul.nav.flexy.row li.nav-get-in-touch:hover::after,
ul.nav.flexy.row li.nav-get-in-touch:focus-within::after {
    animation: shake-it 2s linear 0s infinite;
}

li.nav-solutions svg,
ul.solutions-nav svg {
    width: 12px;
    vertical-align: middle;
}

li.nav-solutions:focus-within svg,
li.nav-solutions:focus-visible svg,
li.nav-solutions a:hover svg {
    animation: point-down 1s linear 0s infinite;
}

ul.solutions-nav a:hover svg {
    animation: point-right 1s linear 0s infinite;
}

li.nav-solutions span {
    margin-right: .25em;
}

ul.solutions-nav span {
    margin-left: .25em;
}

body>header>div.flexy.row ul ~ ul.solutions-nav {
    display: none;
    margin: 0 auto;
    padding: 1em;
    place-content: flex-start center;
    position: absolute;
    max-width: 50em;
    height: fit-content;
    inset: 0;
    top: 8em;
    gap: 1em;
    list-style-type: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1rem;
    /*border: thick solid currentColor;
    border-top: none;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;*/
}

ul.solutions-nav::before {
    content: "\27A7";
    rotate: -90deg;
    position: absolute;
    top: -.75em;
    left: 6em;
    font-size: 3rem;
    color: var(--color-white);
    z-index: -1;
}

ul.solutions-nav li {
    flex: 1 0 30%;
    text-transform: capitalize;
}

li.nav-current {
    background-color: var(--color-light-grey);
}

ul.nav.flexy.row a,
ul.solutions-nav.flexy.row a {
    text-decoration: none;
}

ul.nav.flexy.row a:hover,
ul.nav.flexy.row a:focus,
ul.solutions-nav.flexy.row a:hover,
li.nav-solutions:focus-within {
    text-decoration: underline;
    color: var(--color-orange);
}

li.nav-solutions svg path,
ul.solutions-nav.flexy.row svg path {
    fill: var(--color-yellow);
}

li.nav-solutions a:hover path,
li.nav-solutions:focus-within path,
ul.solutions-nav.flexy.row a:hover path {
    fill: var(--color-orange);
}

section#briefly.flexy {
    padding: 4em;
    color: var(--color-white);
    background-color: var(--color-red);
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10em;*/
    gap: 2em;
}

section#briefly.flexy > article {
    flex: 1 0 58%;
    max-width: 58%;
}

section#briefly.flexy > button {
    flex: 0 0 38%;
    max-width: 38%;
}

section#briefly.flexy article div {
    align-items: flex-start;
    gap: 1em;
}

section.clients.flexy {
    color: var(--color-dark-blue);
    background-color: var(--color-light-grey);
    gap: 1em;
}

/* First main section */

section.pre-clients {
    padding: 0;
    color: var(--color-white);
    background-color: var(--color-blue);
}

section.pre-clients article {
    width: 100%;
}

section.pre-clients article > div.flexy {
    align-content: flex-start;
    gap: 1em;
}

section.pre-clients article.five-clients > div.flexy {
    justify-content: flex-start;
    gap: 5em;
    overflow-x: scroll;
    padding: 1em 3em;
    flex-wrap: nowrap;
}

section.pre-clients article.five-clients > div.flexy::before,
section.pre-clients article.five-clients > div.flexy::after {
    content: "";
    background-color: #ffffff90;
    height: 150px;
    min-width: 150px;
    outline: thick solid red;
    border-radius: 50%;
    filter: blur(5em);
    position: absolute;
    z-index: 999;
    user-select: none;
}

section.pre-clients article.five-clients > div.flexy::before {
    left: -5em;
}

section.pre-clients article.five-clients > div.flexy::after {
    right: -5em;
}

section.pre-clients article.five-clients > div.flexy figure {
    max-width: 150px;
    flex: 0 0 150px;
}

section.pre-clients h1 {
    max-width: 12em;
}

section.pre-clients p {
    font-size: 1.25rem;
    font-weight: 400;
}

article.main-message {
    padding: 1em 2em;
    justify-content: space-between;
}

article.main-message > :is(div, figure) {
    flex: 1 0 48%;
    max-width: 48%;
}

article.main-message svg {
    width: 85%;
}

section.the-app.flexy.row {
    color: var(--color-dark-blue);
    background-color: var(--color-light-pink);
    justify-content: space-between;
    gap: 1em;
}

section.the-app.flexy.row>div,
section.the-app.flexy.row>figure {
    flex: 0 0 48%;
    max-width: 48%;
    max-height: 100%;
}

section.the-app.flexy.row>div {
    align-content: flex-start;
    padding: 0;
    padding-left: 2em;
    gap: 1em;
}

section.the-app.flexy.row>div>h3 {
    font-size: 2rem;
    font-weight: bold;
}

section.the-app.flexy.row>div>p {
    font-size: 1.15rem;
    font-weight: 300;
    text-align: justify;
}

article.main-message figure {
    animation: slide-left 500ms linear 10ms 1 forwards;
}

article.main-message > div.flexy {
    gap: .5em;
    font-size: 2rem;
    align-items: flex-start;
    animation: slide-right 500ms linear 10ms 1 forwards;
}

section.pre-clients article.five-clients {
    padding: 1em;
    flex: 1 0 100%;
    width: 100%;
    background-color: var(--color-dark-blue);
    gap: 1em;
    animation: slide-up 1s linear 10ms 1 forwards;
    overflow-x: hidden;
}

div.five-points {
    padding: 2em 0;
    gap: .25em;
}

div.five-points>div {
    padding: 1em;
    flex: 0 0 18%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    height: 25em;
}

div.five-points>div>span:first-of-type {
    font-size: 8rem;
}

div.five-points>div>span:last-of-type {
    font-size: 2rem;
}

div.five-points>div:nth-of-type(1) {
    background-color: var(--color-light-blue);
}

div.five-points>div:nth-of-type(2) {
    background-color: var(--color-light-green);
}

div.five-points>div:nth-of-type(3) {
    background-color: var(--color-light-pink);
}

div.five-points>div:nth-of-type(4) {
    background-color: var(--color-light-purple);
}

div.five-points>div:nth-of-type(5) {
    background-color: var(--color-turquoise);
}

@keyframes shake-it {
    0%, 100% { transform: translateX(0) rotate(0deg); }
    10%, 30% { transform: translateX(2px) rotate(20deg); }
    50%, 70%, 90% { transform: translateX(-2px) rotate(-10deg); }
    20%, 40% { transform: translateX(2px) rotate(5deg); }
    60%, 80% { transform: translateX(-2px) rotate(-10deg); }
}

@keyframes point-down {
    0%, 100% { transform: translateY(0); }
    10%, 90% { transform: translateY(1px); }
    20%, 80% { transform: translateY(2px); }
    30%, 70% { transform: translateY(3px); }
    40%, 60% { transform: translateY(4px); }
    50% { transform: translateY(3px); }
}

@keyframes point-right {
    0%, 100% { transform: translateX(-1px); }
    10%, 90% { transform: translateX(0px); }
    20%, 80% { transform: translateX(1px); }
    30%, 70% { transform: translateX(2px); }
    40%, 60% { transform: translateX(3px); }
    50% { transform: translateX(2px); }
}

@keyframes slide-up {
    from { transform: translateY(150%); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes menu-go-up {
    from { -webkit-transform: none; transform: none; }
    to { transform: translateY(-80%); }
}

@keyframes menu-go-down {
    from {  transform: translateY(-80%); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes slide-right {
    0% { transform: translateX(-100%); }
    10% { transform: translateX(-90%); }
    20% { transform: translateX(-80%); }
    30% { transform: translateX(-70%); }
    40% { transform: translateX(-60%); }
    50% { transform: translateX(-50%); }
    60% { transform: translateX(-40%); }
    70% { transform: translateX(-30%); }
    80% { transform: translateX(-20%); }
    90% { transform: translateX(-10%); }
    100% { -webkit-transform: none; transform: none; }
}

@keyframes slide-left {
    0% { transform: translateX(100%); }
    10% { transform: translateX(90%); }
    20% { transform: translateX(80%); }
    30% { transform: translateX(70%); }
    40% { transform: translateX(60%); }
    50% { transform: translateX(50%); }
    60% { transform: translateX(40%); }
    70% { transform: translateX(30%); }
    80% { transform: translateX(20%); }
    90% { transform: translateX(10%); }
    100% { -webkit-transform: none; transform: none; }
}