/*
    Some extra documentation, maybe?
*/

/* Web accessibility */

:focus {
    outline: thick solid var(--color-yellow);
}

/* Required by Ghost */

.kg-width-wide,
.kg-width-full {
    color: currentColor;
}

/* Ghost auto classes */

.home-template main section {
    padding: 2dvh 6dvw;
    min-height: 100dvh;
}

/* Some fonts */

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Helper classes */

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: safe center;
}

.flexy.row {
    flex-direction: row;
}

.bg-image {
    background-color: currentColor;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-clip: content-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.disable-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.masked {
    -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Elements with data attributes */

[data-divider="top"],
[data-divider="bottom"] {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    user-select: none;
    pointer-events: none;
}

[data-divider="top"] {
    top: -.1em;
}

[data-divider="bottom"] {
    bottom: -.1em;
    transform: rotate(180deg);
}

[data-divider="top"] path,
[data-divider="bottom"] path {
    fill: var(--accent-color);
}

/* Elements */

:root {
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color-scheme: light dark;
    --color-blue: #1d70b8;
    --color-dark-blue: #003078;
    --color-light-blue: #5694ca;
    --color-black: #0b0c0c;
    --color-black-40: #0b0c0c40;
    --color-dark-grey: #505a5f;
    --color-mid-grey: #b1b4b6;
    --color-light-grey: #f3f2f1;
    --color-white: #ffffff;
    --color-yellow: #ffdd00;
    --color-purple: #4c2c92;
    --color-light-purple: #6f72af;
    --color-bright-purple: #912b88;
    --color-pink: #d53880;
    --color-light-pink: #f499be;
    --color-orange: #f47738;
    --color-brown: #b58840;
    --color-green: #00703c;
    --color-red: #d4351c;
    --color-light-green: #85994b;
    --color-light-green-40: #85994b40;
    --color-turquoise: #28a197;
    --max-width: 1920px;
    --link-button-text: rgb(75, 73, 70);
    --link-button-primary: rgb(47, 192, 82);
    --link-button-secondary: rgb(238, 237, 233);
    --link-button-tertiary: rgb(255, 255, 255);
    --link-button-destructive: rgb(253, 98, 50);
    --link-button-primary-secondary: rgb(30, 157, 187);
    --link-button-primary-blue-300: rgb(36, 183, 219);
    --link-button-primary-tertiary: rgb(246, 172, 47);
    --link-button-disabled: rgb(244, 243, 241);
    /* Generating accent color and de */
    --accent-color-h: 208;
    --accent-color-s: 73%;
    --accent-color-l: 42%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-10: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 5%));
    --accent-color-20: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
    --accent-color-30: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
    --accent-color-40: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
    --accent-color-50: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 25%));
    --accent-color-60: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 30%));
    --accent-color-70: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 35%));
    --accent-color-80: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 40%));
    --accent-color-90: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 50%));
    --accent-color-100: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 60%));
    --accent-color-110: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 70%));
    --accent-color-120: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 80%));
    --this-feature-image: url();
}

::selection {
    color: var(--color-light-grey);
    background-color: var(--color-black);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: inherit;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

html:has(dialog[open]) {
    overflow: hidden;
}

head {
    display: none;
}

body {
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    color: var(--color-black);
    background-color: var(--accent-color);
    background-color: var(--color-black);
    width: 100dvw;
    max-width: var(--max-width);
    height: auto;
    min-height: 100dvh;
    gap: 0;
    overflow-x: hidden;
}

body:has(dialog[open]) {
    filter: blur(.1em);
}

body:has(dialog[open]) #more-clients .container {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

dialog::backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: backdrop-filter 500ms ease-in-out;
}

dialog {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: fit-content;
    height: fit-content;
    transition: all 500ms ease-in-out 0s;
}

dialog[open] {
    margin: auto;
    padding: 1vb;
    inset: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    color: var(--accent-color);
    background-color: var(--accent-color-100);
    border: 1vb solid var(--accent-color);
    user-select: none;
    cursor: default;
    transition: opacity 500ms ease;
}

form[method="dialog"] {
    color: inherit;
    gap: 1vb;
}

form[method="dialog"] fieldset {
    flex-wrap: nowrap;
    align-items: flex-start;
    user-select: text;
    gap: 1vb;
}

form[method="dialog"] legend {
    padding-bottom: 1vb;
    align-content: flex-start;
    gap: 1vb;
}

form[method="dialog"] h2 {
    font-size: 2.5rem;
}

form[method="dialog"] p {
    font-size: 1.25rem;
}

form[method="dialog"] div {
    padding: 2vb;
    gap: 2vb;
}

form[method="dialog"] input {
    max-width: 100%;
}

form[method="dialog"] input:is([type="submit"], [type="reset"]) {
    flex: 0 0 fit-content;
    width: fit-content;
}

main {
    font-size: 1.25rem;
    min-height: 90dvh;
    gap: 0;
}

main>article {
    max-width: 85dvw;
}

body:not(.home-template)>main.flexy {
    gap: 1em;
}

address a {
    text-transform: none;
}

main.flexy>div:first-of-type {
    padding: 2em 3em;
    gap: 1em;
    font-weight: bold;
    font-size: 1.5rem;
}

main.flexy>div:first-of-type p {
    text-align: start;
    width: 100%;
}

/* Start of page style */

main.post.flexy>header {
    min-height: 30dvh;
    gap: 1em;
}

main.post.flexy>header>section.title-meta {
    position: absolute;
    padding: 2em 4em;
    inset: auto;
    color: currentColor;
    background-color: #ffffff99;
    gap: .25em;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 99;
}

main.post.flexy>header>section.title-meta>h1 {
    align-self: flex-start;
    color: inherit;
}

figure {
    width: fit-content;
    max-width: 100%;
    height: auto;
}

main.post.flexy>figure,
main.post.flexy>header>figure {
    background-color: var(--color-light-green);
    background-image: var(--this-feature-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    width: inherit;
    height: 40dvh;
    min-height: inherit;
    align-self: center;
}

main.post figure img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: fit-content;
    max-height: 100%;
    height: auto;
}

main.post header div {
    bottom: -.1em;
}

main.post.flexy>header>section.title-meta>p {
    font-size: 1.1rem;
    text-align: justify;
    padding-right: 20dvw;
}

main.post.flexy>header>section.title-meta>div {
    border-top: thin inset currentColor;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
    padding: 0 .35em;
    padding-top: 1em;
    margin-top: 1em;
}

main.post.flexy section.content {
    margin: 0 auto;
    padding: 0 12dvw;
    padding: 1em;
    min-width: 60dvw;
    width: 100%;
    align-items: flex-start;
    gap: 1em;
}

main.post.flexy section.content h2 {
    margin-top: 1em;
    margin-bottom: .25em;
}

main.post.flexy section.content ul {
    list-style-type: square;
    list-style-position: outside;
    line-height: 2.25em;
}

main.post.flexy section.content blockquote {
    margin: 0 auto 0 .25em;
    padding: .25em 0 .25em 1em;
    color: var(--accent-color);
    border-left: thick solid var(--accent-color-90);
    font-size: 1.5em;
    font-style: oblique;
    line-height: 2em;
    text-align: start;
    font-weight: 700;
}

main.post.flexy section.content p {
    line-height: 2.5em;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
}

main.post.flexy section.content a {
    color: currentColor;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-black-40);
    transition: all 250ms ease-in-out 0s;
}

main.post.flexy section.content a:is(:focus, :hover) {
    color: var(--color-dark-blue);
    text-decoration-style: solid;
    text-decoration-color: var(--color-black);
}

main.post.flexy section.content table tr:is(:focus, :hover) {
    cursor: pointer;
    background-color: #d6d6d6;
}

main.post.flexy section.content table tr:active {
    cursor: text;
}

main.post.flexy section.content table tr td {
    padding: .5em;
    vertical-align: text-top;
}

main.post.flexy section.content table tr td:nth-of-type(1) {
    width: 40%;
}

main.post.flexy section.content table tr td:nth-of-type(2) {
    width: 60%;
}

main.post.flexy section.content figure.kg-card.kg-image-card.kg-card-hascaption {
    text-align: start;

}

main.post.flexy section.content figure.kg-card.kg-image-card.kg-card-hascaption img {
    mix-blend-mode: multiply;
    width: fit-content;
}

main.post.flexy section.content figure.kg-card.kg-image-card.kg-card-hascaption figcaption {
    color: var(--color-dark-grey);
    font-size: smaller;
}

main.post.flexy header:has(~ section.content) {
    margin: 0 auto;
    padding: 1em;
    max-width: 100%;
}

main.post.flexy>article>footer {
    padding: 1em;
}

/* End of page style */

#partner-with-leaders {
    background-color: var(--accent-color-90);
    text-align: center;
    gap: 2em;
}

#partner-with-leaders .container {
    padding: 1em;
    width: 100%;
    gap: 2em;
}

#partner-with-leaders figure {
    flex: 0 0 fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: 10dvw;
    user-select: none;
}

#partner-with-leaders img {
    mix-blend-mode: multiply;
}

#partner-with-leaders img,
#partner-with-leaders svg {
    padding: .5em;
    width: 8em;
    max-width: 100%;
    height: 8em;
    box-shadow: none;
    outline: 0;
    transition: all ease-in 200ms 0s;
}

#partner-with-leaders figure:is(:focus, :hover) {
    cursor: pointer;
}

#partner-with-leaders figure:is(:focus, :hover) img,
#partner-with-leaders figure:is(:focus, :hover) svg {
    scale: 1.1;
    box-shadow: 0.15em 0.15em 0 var(--accent-color-80);
    outline: thin solid var(--accent-color-80);
    transition: all ease-out 200ms 0s;
}

#partner-with-leaders a[href*="main-content"] {
    bottom: 1em;
}

button[type="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
.cta-button a {
    border-radius: 3em;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    width: unset;
    user-select: none;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 1em;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-black);
    background-color: var(--color-light-grey);
    border-radius: 3em;
}

label+input {
    cursor: pointer;
}

.cta-buttons {
    align-self: center;
    gap: 2vb;
    padding-bottom: 2vb;
}

.cta-button {
    margin: 1vb 4vb;
    padding: 1vb;
    align-self: flex-start;
    flex: 1 0 fit-content;
    width: fit-content;
    max-width: 100%;
    align-content: flex-start;
}

.cta-button a,
.cta-button button {
    border-radius: 0;
    width: 25%;
    min-width: fit-content;
    text-transform: capitalize;
    transition: width 1s ease-in 0s;
}

.cta-button a {
    display: block;
    text-decoration: none;
    max-width: fit-content;
    box-shadow: .25em .25em 0 var(--accent-color-80);
    transition: all 1s ease-in 0s;
}

:is(button[type="button"],
    input[type="button"],
    input[type="submit"],
    input[type="reset"]):is(:focus, :hover),
.cta-button a:is(:focus, :hover) {
    width: 100%;
    background-color: var(--color-blue);
    outline: thick solid var(--color-yellow);
    font-weight: bolder;
    transition: all 1s ease-out 0s;
}

.cta-button a:is(:focus, :hover) {
    text-decoration: underline;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
}

:is(h1, h2, h3, h4, h5, h6) {
    word-wrap: normal;
    text-transform: none;
    font-weight: normal;
    line-height: 1.5;
    width: 100%;
    text-wrap: balance;
    text-align: start;
}

:is(h1, h2, h3, h4, h5, h6) strong {
    text-transform: capitalize;
    font-weight: bolder;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    width: 100%;
}

hgroup :is(h1, h2, h3) {
    padding: 1vb;
}

hgroup p {
    padding: 1vb 2vb;
    text-align: justify;
}

a {
    cursor: pointer;
}

a[href*="main-content"] {
    margin: 0;
    padding: .5em 2em .5em 5em;
    z-index: 99;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    flex: 1 0 100%;
    position: absolute;
    right: 0;
    color: var(--accent-color-60);
    background-color: var(--accent-color-100);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    transition: all 250ms ease-out 0s;
    user-select: none;
}

a[href*="main-content"]:is(:focus, :hover) {
    color: var(--color-white);
    background-color: var(--accent-color-30);
    box-shadow: 0.15em 0.15em 0 var(--accent-color-90);
    transition: all 250ms ease-in 0s;
}

/* Elements with classes */

.hearts {
    color: var(--color-red);
    font-size: x-large;
    cursor: wait;
}

:is(header, hgroup, main, section, article, footer) {
    width: inherit;
    max-width: inherit;
    height: auto;
    will-change: contents;
    position: relative;
    overflow: hidden;
    cursor: default;
    user-select: text;
    color: currentColor;
    background-color: var(--accent-color);
}

header,
hgroup {
    text-align: center;
    color: var(--color-black);
    background-color: transparent;
    width: 100dvw;
    max-width: 100%;
    gap: 1vb;
}

section hgroup {
    padding: 1vb;
}

footer {
    position: static;
}

article {
    padding: 1em 2em;
    background-color: transparent;
}

div {
    max-width: 100%;
    height: auto;
}

div:has(dialog) {
    position: relative;
}

strong {
    font-weight: bolder;
}

header:has(nav) {
    padding: 2vb 5vb;
    justify-content: space-between !important;
    background-color: var(--accent-color-100);
    animation: menu-go-down 500ms linear 0s 1 forwards;
    box-shadow: 0 0 .25em var(--color-black-40);
    flex: 0 0 10dvh;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    pointer-events: auto;
    height: 10dvh;
    max-height: 10dvh; 
}

header.loose {
    animation: menu-go-up 500ms linear 0s 1 forwards;
}

header.loose:is(:active, :focus-within, :hover) {
    animation: menu-go-down 500ms linear 0s 1 forwards;
}

ul.nav.flexy.row:has(:where(li.nav-solutions:focus-within, li.nav-solutions > a:is(:focus, :hover)))~ul.solutions-nav,
ul.solutions-nav.flexy.row:has(a:active) {
    display: flex;
}

nav ul~ul.solutions-nav:focus-visible,
nav ul~ul.solutions-nav:focus-within,
nav ul:where(:has(li.nav-solutions):has(a:is(:focus, :hover)))~ul.solutions-nav {
    display: flex;
}

hr {
    display: none;
    margin: 2em 0;
    width: 45%;
    max-width: 96%;
    border: thin inset currentColor;
}

.solutions-nav {
    pointer-events: none;
}

.solutions-nav:is(:focus, :hover) {
    pointer-events: auto;
}

.rapid-logo {
    user-select: none;
    max-width: 10em;
}

.rapid-logo img {
    mix-blend-mode: normal;
}

footer .rapid-logo {
    max-width: 280px;
}

svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

[data-play-state="running"] {
    will-change: animation;
}

/* Some animations */

svg g#planet-one {
    animation: clockwise 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#planet-three {
    animation: left-right 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
    fill: var(--color-bright-purple);
}

svg path#rectangular-two {
    animation: shake-it 3s linear 0s infinite forwards;
    /*transform-origin: center;*/
    transform-box: fill-box;
}

svg path#square-one {
    animation: clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#square-two {
    animation: anti-clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

/* End of some animations */

g#version-control path#cup {
    animation: cup-color 12s ease-in-out 0s infinite forwards;
}

g#line-one path,
g#line-two path {
    transform-origin: center;
    transform-box: fill-box;
}

g#line-one path {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

g#line-two path {
    animation: left-to-right 3s linear 0s 1 forwards, opacity-orange 6s linear 0s infinite forwards;
}

path#line-three,
path#line-four,
path#line-five {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

path#ellipse-one,
path#ellipse-two,
path#ellipse-three,
path#ellipse-four,
path#ellipse-five,
path#ellipse-six,
path#ellipse-seven,
path#ellipse-eight,
path#ellipse-nine {
    transform-origin: center;
    transform-box: fill-box;
    animation: enlarge-one 5s linear 500ms infinite;
}

path#ellipse-four {
    animation: enlarge-two 5s linear 2s infinite;
}

path#ellipse-three,
path#ellipse-nine {
    animation: enlarge-two 4s linear 2s infinite;
}

path#coffee-steam {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: steaming 20s linear 0s infinite;
}

@keyframes add-padding {
    from {
        padding-top: 0em;
    }

    to {
        padding-top: 0em;
    }
}

@keyframes cup-color {
    0% {
        fill: var(--color-yellow);
    }

    25% {
        fill: var(--color-orange);
    }

    85% {
        fill: var(--color-red);
    }
}

@keyframes steaming {
    0%,
    100% {
        opacity: .25;
        scale: .25;
        fill: var(--color-light-blue);
    }

    25%,
    75% {
        opacity: .5;
        scale: .5;
        fill: var(--color-light-grey);
    }

    50% {
        opacity: .75;
        scale: .75;
        fill: var(--color-light-blue);
    }
}

@keyframes enlarge-one {
    0%,
    100% {
        scale: .85;
    }

    30% {
        fill: var(--color-blue);
    }

    25%,
    75% {
        scale: 1;
    }

    50% {
        scale: 1.25;
    }

    80% {
        fill: var(--color-light-grey);
    }

    90% {
        fill: var(--color-light-blue);
    }
}

@keyframes enlarge-two {
    0%,
    100% {
        scale: 1;
    }

    10%,
    90% {
        scale: 1.25;
    }

    25%,
    75% {
        scale: 1.5;
    }
}

@keyframes left-to-right {
    from {
        translate: -75% 0;
    }

    to {
        translate: none;
    }
}

@keyframes opacity-orange {
    0%,
    100% {
        opacity: .1;
    }

    25%,
    75% {
        opacity: .6;
        fill: var(--color-orange);
    }

    50% {
        opacity: 1;
    }
}

@keyframes left-right {
    0%,
    100% {
        translate: none;
    }

    25%,
    75% {
        translate: 2em .5em;
    }

    50% {
        translate: -1em -1em;
    }
}

@keyframes clockwise {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes anti-clockwise {
    from {
        rotate: 360deg;
    }

    to {
        rotate: 0deg;
    }
}

ul.nav.flexy.row {
    list-style-type: none;
    gap: 1em;
    font-weight: bold;
    text-transform: capitalize;
}

li.nav-solutions svg,
ul.solutions-nav svg {
    width: 1.25rem;
    vertical-align: middle;
}

ul.solutions-nav svg {
    rotate: -90deg;
}

li.nav-solutions:focus-within svg,
li.nav-solutions:focus-visible svg,
li.nav-solutions a:is(:focus, :hover) svg {
    animation: point-down 1s linear 0s infinite;
}

ul.solutions-nav a:is(:focus, :hover) svg {
    animation: point-right 1s linear 0s infinite;
}

li.nav-solutions span {
    margin-right: .25em;
}

ul.solutions-nav span {
    margin-left: .25em;
}

nav ul~ul.solutions-nav {
    display: none;
    margin: 0 auto;
    padding: 1em;
    place-content: flex-start center;
    position: absolute;
    max-width: 50em;
    height: fit-content;
    inset: 0;
    top: 7em;
    gap: 1em;
    list-style-type: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 .15em var(--color-black-40);
    box-shadow: 0 0 .25em var(--color-black-40);
}

ul.solutions-nav li {
    flex: 0 0 fit-content;
    text-transform: capitalize;
}

nav li.nav-current {
    padding: .25em .85em;
    background-color: var(--accent-color-90);
    border-radius: 5em;
}

ul.nav.flexy.row a,
ul.solutions-nav.flexy.row a {
    text-decoration: none;
}

ul.nav.flexy.row a:is(:focus, :hover),
ul.solutions-nav.flexy.row a:is(:focus, :hover),
li.nav-solutions:focus-within {
    text-decoration: underline;
    color: var(--accent-color);
}

li.nav-solutions svg path,
ul.solutions-nav.flexy.row svg path {
    fill: var(--color-black);
}

li.nav-solutions a:is(:focus, :hover) path,
li.nav-solutions:focus-within path,
ul.solutions-nav.flexy.row a:is(:focus, :hover) path {
    fill: var(--accent-color);
}

.pagination {
    user-select: auto;
}

#streamlining-safety-checks {
    background-color: var(--color-light-grey);
    gap: 5vb;
}

#streamlining-safety-checks hgroup {
    flex: 1 0 50vb;
    width: 50vb;
}

#streamlining-safety-checks p {
    text-align: justify;
}

#streamlining-safety-checks figure {
    flex: 0 0 75vb;
    width: 75vb;
    max-width: 100%;
}

#streamlining-safety-checks .cta-button {
    gap: 3em;
}

#streamlining-safety-checks .cta-button button[type="button"] {
    flex: 1 0 fit-content;
    width: fit-content;
    transition: all 250ms ease-in 0ms;
}

#streamlining-safety-checks .cta-button button[type="button"]:is(:focus, :hover) {
    transition: all 250ms ease-out 0ms;
}

#briefly {
    background-color: var(--color-black);
    gap: 2em;
}

#briefly hgroup {
    padding: 1vb;
    color: var(--color-white);
    flex: 1 0 58%;
    max-width: 50%;
    width: 58%;
}

#briefly [data-divider="bottom"] path {
    fill: oldlace;
}

#briefly a[href*="main-content"] {
    bottom: 15vb;
}

#briefly [data-divider="top"] svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: auto;
}

#briefly button {
    flex: 0 0 38%;
    max-width: 38%;
    text-transform: capitalize;
}

#briefly div {
    align-items: flex-start;
    gap: 1em;
}

#get-the-app {
    background-color: oldlace;
    gap: 1em;
}

#get-the-app a[href*="main-content"] {
    bottom: 15dvh;
}

#get-the-app details {
    padding: 1vb;
    flex: 1 0 fit-content;
    width: 100dvw;
    max-width: 100%;
    cursor: pointer;
    transition: all 250ms ease-out 0s;
}

#get-the-app summary {
    justify-content: flex-start;
}

#get-the-app details:is(:focus, :focus-visible, :hover) {
    transition-timing-function: ease-in;
}

#get-the-app details[open] p {
    padding: 1vb;
    font-size: 1.1rem;
}

#newsletter [data-divider="bottom"] .shape-fill {
    fill: var(--accent-color-90);
}

@keyframes scrollups {
    0% {
        transform: translateY(4.5em);
    }

    15% {
        transform: translateY(3.75em);
    }

    30% {
        transform: translateY(3em);
    }

    45% {
        transform: translateY(2.25em);
    }

    60% {
        transform: translateY(2.5em);
    }

    75% {
        transform: translateY(1.75em);
    }

    90% {
        transform: translateY(1em);
    }

    100% {
        transform: translateY(0);
    }
}

pre {
    text-wrap: wrap;
    text-align: -webkit-center;
    text-align: center;
    font-size: .85rem;
}

#get-the-app div {
    width: 100%;
    gap: 3em;
}

#get-the-app figure:nth-of-type(1) {
    max-width: 10em;
}

#get-the-app figure:nth-of-type(2) {
    max-width: 12.75em;
}

#get-the-app figure:nth-of-type(3) {
    scale: 1;
    width: 100%;
    max-width: 9.25em;
    transition: scale 250ms ease 0s;
}

#get-the-app figure {
    cursor: pointer;
    user-select: none;
}

#get-the-app figure:hover,
#get-the-app figure:has(a:focus, a:hover) {
    scale: 1.05;
    transition: scale 250ms ease-out 0s;
}

#get-the-app pre {
    opacity: .5;
    color: var(--color-mid-grey);
    font-size: .85rem;
    transition: all 250ms ease-out 0s;
}

#get-the-app div:has(figure:nth-of-type(1):is(:focus, :focus-within, :hover))~footer>pre:nth-of-type(1),
#get-the-app div:has(figure:nth-of-type(2):is(:focus, :focus-within, :hover))~footer>pre:nth-of-type(2),
#get-the-app div:has(figure:nth-of-type(3):is(:focus, :focus-within, :hover))~footer>pre:nth-of-type(3) {
    opacity: 1;
    color: var(--color-black);
    transition: all 250ms ease-out 0s;
}

.clients {
    color: var(--color-dark-blue);
    background-color: var(--color-light-grey);
    gap: 1em;
}

#main-message {
    background-color: var(--accent-color-30);
}

#main-message hgroup {
    color: var(--color-white);
    align-content: flex-start;
    align-items: flex-start;
    animation: slide-right 500ms linear 10ms 1 forwards;
}

#main-message figure {
    text-align: center;
    animation: slide-left 500ms linear 10ms 1 forwards;
}

#more-clients {
    color: var(--accent-color);
    background-color: floralwhite;
    text-align: center;
    gap: 5vb;
    animation: slide-up 1s linear 100ms 1 forwards;
}

a[title~="Continue"] {
    display: block;
    flex: 0 0 fit-content;
    position: absolute;
    bottom: 1vb;
    width: 100%;
    max-width: fit-content;
    animation: point-down 1s linear 0s infinite;
    cursor: pointer;
    user-select: none;
    z-index: 999;
}

a[title~="Continue"]:focus {
    outline: 0;
}

a[title~="Continue"] svg {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    max-height: 10dvh !important;
    width: 100%;
    max-width: 10dvw;
    animation: point-down 1s linear 0s infinite;
}

a[title~="Continue"] path {
    fill: var(--accent-color-80);
    transition: all 250ms ease-out 0s;
}

a[title~="Continue"]:is(:focus, :hover) path {
    fill: var(--accent-color-20);
    transition: all 250ms ease-in 0s;
}

#more-clients .container {
    width: inherit;
    max-width: inherit;
    direction: ltr;
    height: 100%;
    min-height: 25vb;
    max-height: 25vb;
    align-content: flex-start;
    gap: 15vb;
    -webkit-animation-name: move;
    -webkit-animation-duration: 24s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-name: move;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: move 24s linear 3s infinite alternate;
    animation-play-state: running;
}

#more-clients figure {
    padding: 1em;
    flex: 0 0 20vb;
    text-align: center;
    mix-blend-mode: normal;
    height: 20vb;
    flex-wrap: nowrap;
    gap: 1vb;
    user-select: none;
    z-index: 999;
}

#more-clients figcaption {
    display: none;
}

#more-clients .container:has(figure:is(:focus, :hover)) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#more-clients figure:is(:focus, :hover) {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 0.15em var(--color-black-40);
    background-color: var(--accent-color-90);
}

#more-clients figure:is(:focus, :hover) figcaption {
    display: block;
    font-size: .85rem;
    color: var(--color-dark-grey);
}

#more-clients svg {
    height: 75%;
    width: 100%;
}

@-webkit-keyframes move {
    0% {
        margin-left: 0;
        margin-right: 0;
    }

    5% {
        margin-left: 12vw;
        margin-right: 0;
    }

    10% {
        margin-left: 16dvw;
        margin-right: 0;
    }

    15% {
        margin-left: 20dvw;
        margin-right: 0;
    }

    100% {
        margin-left: 0;
        margin-right: 160dvw;
    }
}

@keyframes move {
    0% {
        margin-left: 0;
        margin-right: 0;
    }

    5% {
        margin-left: 12vw;
        margin-right: 0;
    }

    10% {
        margin-left: 16dvw;
        margin-right: 0;
    }

    15% {
        margin-left: 20dvw;
        margin-right: 0;
    }

    100% {
        margin-left: 0;
        margin-right: 160dvw;
    }
}

#more-clients .container::before,
#more-clients .container::after {
    content: "";
    background-color: var(--accent-color-70);
    height: 9em;
    min-width: 9em;
    outline: thick solid red;
    border-radius: 50%;
    filter: blur(5em);
    position: absolute;
    z-index: 99;
    user-select: none;
}

#more-clients .container::before {
    left: -5em;
}

#more-clients .container::after {
    right: -5em;
}

#main-message h1 {
    max-width: 13em;
    font-weight: normal;
}

#main-message>*:is(hgroup, figure) {
    padding: 1vb;
    flex: 1 0 50vb;
    width: 50vb;
    max-width: inherit;
}

#compliance-app {
    color: var(--color-dark-blue);
    background-color: var(--color-white);
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 1vb;
}

#compliance-app :is(hgroup, figure) {
    padding: 1vb;
    flex: 0 0 75vb;
    width: 75vb;
    max-width: 100%;
}

#compliance-app figure {
    user-select: none;
}

#compliance-app>figure>a>img {
    border-top-left-radius: 20em;
    border-bottom-left-radius: 15em;
    box-shadow: 1.25em .65em 0 var(--accent-color-90);
    transition: box-shadow 250ms ease-in 0s;
}

#compliance-app>figure>a:is(:focus, :hover)>img {
    box-shadow: 1.25em .65em 0 var(--accent-color-80);
    transition: box-shadow 250ms ease-out 0s;
}

#compliance-app hgroup {
    align-content: flex-start;
}

#compliance-app a[href*="main-content"] {
    bottom: 10vb;
}

.five-points {
    padding: 2em 0;
    gap: .25em;
}

.five-points div {
    padding: 1em;
    flex: 0 0 18%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    height: 25em;
}

.five-points span:first-of-type {
    font-size: 8rem;
}

.five-points span:last-of-type {
    font-size: 2rem;
}

.five-points div:nth-of-type(1) {
    background-color: var(--color-light-blue);
}

.five-points div:nth-of-type(2) {
    background-color: var(--color-light-green);
}

.five-points div:nth-of-type(3) {
    background-color: var(--color-light-pink);
}

.five-points div:nth-of-type(4) {
    background-color: var(--color-light-purple);
}

.five-points div:nth-of-type(5) {
    background-color: var(--color-turquoise);
}

.cookies {
    display: none;
    padding: 3em;
    position: fixed;
    bottom: 0;
    color: var(--color-light-grey);
    background-color: var(--color-black);
    gap: 1em;
    opacity: .9;
    z-index: 999;
}

.cookies :is(h4, p, a)::selection {
    color: var(--color-black);
    background-color: var(--color-light-grey);
}

.cookies h4,
.cookies form {
    flex: 0 0 75dvw;
    width: 75dvw;
    max-width: 100%;
}

.cookies form {
    gap: 2vb;
}

.cookies button[type="button"] {
    opacity: 1;
    flex: 0 0 max-content;
    border-radius: 0%;
}

@keyframes shake-it {
    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }

    10%,
    30% {
        transform: translateX(2px) rotate(20deg);
    }

    50%,
    70%,
    90% {
        transform: translateX(-2px) rotate(-10deg);
    }

    20%,
    40% {
        transform: translateX(2px) rotate(5deg);
    }

    60%,
    80% {
        transform: translateX(-2px) rotate(-10deg);
    }
}

@keyframes point-down {
    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    90% {
        transform: translateY(1px);
    }

    20%,
    80% {
        transform: translateY(2px);
    }

    30%,
    70% {
        transform: translateY(3px);
    }

    40%,
    60% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(3px);
    }
}

@keyframes point-right {
    0%,
    100% {
        transform: translateX(-1px);
    }

    10%,
    90% {
        transform: translateX(0px);
    }

    20%,
    80% {
        transform: translateX(1px);
    }

    30%,
    70% {
        transform: translateX(2px);
    }

    40%,
    60% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(2px);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(150%);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes menu-go-up {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        transform: translateY(-80%);
    }
}

@keyframes menu-go-down {
    from {
        transform: translateY(-80%);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    10% {
        transform: translateX(-90%);
    }

    20% {
        transform: translateX(-80%);
    }

    30% {
        transform: translateX(-70%);
    }

    40% {
        transform: translateX(-60%);
    }

    50% {
        transform: translateX(-50%);
    }

    60% {
        transform: translateX(-40%);
    }

    70% {
        transform: translateX(-30%);
    }

    80% {
        transform: translateX(-20%);
    }

    90% {
        transform: translateX(-10%);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(90%);
    }

    20% {
        transform: translateX(80%);
    }

    30% {
        transform: translateX(70%);
    }

    40% {
        transform: translateX(60%);
    }

    50% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(40%);
    }

    70% {
        transform: translateX(30%);
    }

    80% {
        transform: translateX(20%);
    }

    90% {
        transform: translateX(10%);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

form {
    padding: 1vb;
    position: relative;
    flex: 0 0 fit-content;
    height: fit-content;
    max-height: 100%;
    width: 90vb;
    max-width: 100%;
}

section:has(form#join-newsletter) {
    color: royalblue;
    height: auto;
    min-height: 100dvh;
}

section:has(form#join-newsletter) a[href*="main-content"] {
    bottom: 5dvh;
}

form#join-newsletter {
    padding: 1vb;
    background-color: var(--accent-color-90);
    box-shadow: .25em .65em 0 var(--accent-color-80);
    outline: thin solid var(--accent-color-80);
    scale: 1;
    border-top-left-radius: 5vb;
    border-bottom-right-radius: 5vb;
    transform: none;
    transition: all ease-in 200ms 0s;
}

form#join-newsletter:is(:focus-within, :hover) {
    scale: 1.01;
    transform: translate(0, -.25em);
    transition: all ease-out 200ms 0s;
}

form#join-newsletter:is(:focus-within, :hover) legend p {
    font-size: 1rem;
}

form#join-newsletter:is(:focus-within, :hover) pre {
    font-size: .9rem;
    transition: all 500ms ease-in-out 0s;
}

form#join-newsletter pre {
    padding: 3vb;
    text-align: start;
    font-size: 0;
    transition: all 500ms ease-in-out 0s;
}

form#join-newsletter fieldset {
    flex-wrap: wrap;
    align-content: stretch;
    z-index: 1;
}

form#join-newsletter :is(fieldset, legend, div, p, label, input) {
    max-width: max-content;
    align-self: stretch;
}

form#join-newsletter legend {
    padding: 2vb;
    text-align: start;
}

form#join-newsletter div {
    padding: 1vb;
    justify-content: center;
    max-width: 100%;
    gap: 3vb;
}

form#join-newsletter div[data-divider="bottom"] {
    padding: 0;
    transform: none;
    top: unset;
    bottom: -7.9vb;
    pointer-events: all;
    border-top-right-radius: 5vb;
}

form#join-newsletter div[data-divider="bottom"] path {
    fill: var(--accent-color-90);
}

form#join-newsletter .controls {
    gap: 5vb;
}

form#join-newsletter legend p {
    padding: 0;
    font-size: 0;
    color: var(--accent-color);
}

form#join-newsletter p {
    padding: 1em 4em;
    font-size: 1rem;
    color: var(--accent-color-80);
    transition: all 500ms ease-in-out 0s;
}

form#join-newsletter:is(:focus-within, :hover) p {
    color: var(--accent-color);
    user-select: text;
    transition: all 500ms ease-in-out 0s;
}

form#join-newsletter:is(:focus-within, :hover) legend p {
    color: inherit;
}

form#join-newsletter label {
    display: flex;
    flex-direction: column;
    gap: .25em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-black);
    scale: 1;
    transition: all ease-in 200ms 0s;
}

form#join-newsletter label:is(:focus-within, :hover) {
    scale: 1.1;
    transition: all ease-out 200ms 0s;
}

form#join-newsletter input,
form#join-newsletter select {
    padding: .5em;
    font-size: 1.1rem;
    font-weight: normal;
    border-radius: 0;
    transition: none;
    color: var(--color-black);
    background-color: var(--color-light-grey);
    scale: 1;
}

form#join-newsletter select:focus-within {
    cursor: pointer;
}

form#join-newsletter option:disabled {
    font-weight: bold;
    font-size: .9rem;
}

form#join-newsletter input:is([type="submit"], [type="reset"]) {
    padding: 1em .75em;
    font-weight: 500;
    align-self: center;
    position: relative;
    display: block;
    text-decoration: none;
    color: royalblue;
    background-color: #4169e160;
    box-shadow: .15em .15em 0 #4169e180;
    outline: 0;
    scale: 1;
    transition: all ease-in 200ms 0s;
}

form#join-newsletter input:is([type="submit"], [type="reset"]):is(:focus, :hover) {
    color: var(--accent-color-100);
    background-color: royalblue;
    box-shadow: .15em .15em 0 #4169e180;
    outline: thin solid #4169e180;
    scale: 1.1;
}

form#join-newsletter a {
    text-decoration: none;
}

form#join-newsletter a:is(:focus, :hover) {
    text-decoration: underline;
}

.sharing-is-caring {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    gap: 2em;
    user-select: none;
}

.sharing-is-caring ul {
    list-style-type: none;
    gap: 1em;
}

.sharing-is-caring a {
    text-decoration: none;
}

.sharing-is-caring a:is(:focus, :hover) {
    text-decoration: underline;
}

.sharing-is-caring h6::before {
    display: none;
    content: "\27A6";
}

/* Client's testimonials and reviews: /partials/testimonials.hbs */

#client-testimonials {
    background-color: mintcream;
    gap: 2vb;
}

#client-testimonials>footer {
    gap: 1vb;
    z-index: 9999;
}

#client-testimonials ol {
    flex: 0 0 1.5em;
    width: 1.5em;
    height: 1.5em;
    border: thin solid var(--accent-color-50);
    border-radius: 50%;
    color: currentColor;
    background-color: var(--accent-color-90);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease-in-out 0s;
}

#client-testimonials li.currently-active,
#client-testimonials li:is(:focus, :hover) {
    color: var(--accent-color);
    background-color: var(--accent-color-20);
    border-color: var(--accent-color-20);
}

#client-testimonials .container {
    gap: 1em;
}

#client-testimonials .container .post {
    border: 0;
    border-radius: 0;
    padding: 1em 2em;
    flex: 0 0 70dvw;
    width: 100%;
    max-width: 70dvw;
    height: 100%;
    min-height: 45dvh;
    display: none;
    visibility: hidden;
    opacity: 0;
    gap: 1em;
    user-select: text;
    cursor: default;
    outline-width: 0;
    outline-style: solid;
    outline-color: var(--accent-color-80);
    transform: none;
    box-shadow: .15em .15em 0 var(--accent-color-80);
    transition: all 250ms ease-in-out 0s;
}

#client-testimonials .container .post:is(:active, :hover) {
    transform: translate(0, -.15em);
    box-shadow: .25em .25em 0 var(--accent-color-80);
}

#client-testimonials .container .post.currently-active {
    background-color: aliceblue;
    outline-width: thin;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-in-out 10ms;
    animation: display-none-to-flex 250ms ease-in-out 10ms 1 forwards;
}

@keyframes display-none-to-flex {
    0% {
        display: flex;
    }

    1% {
        visibility: visible;
        opacity: .1;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

#client-testimonials .container .post *:is(header, p) {
    flex: 1 0 0;
    width: 100%;
    max-width: fit-content;
}

#client-testimonials .container .post *:is(h3, p) {
    cursor: text;
}

#client-testimonials .container .post p {
    padding: 1em;
    text-align: justify;
}

#client-testimonials .container .post footer {
    flex: 1 0 100%;
}

#client-testimonials .container .post figure {
    flex: 0 0 auto;
    max-width: 100%;
    width: 15dvw;
    max-height: 100%;
    height: 18dvh;
    user-select: none;
    border-radius: 2dvw;
}

#client-testimonials .container .post img {
    display: none;
    border-radius: 2dvw;
    max-height: inherit;
}

#client-testimonials .next-testimonial,
#client-testimonials .prev-testimonial {
    position: absolute;
    top: 45dvh;
    font-size: 2rem;
    border-radius: 1dvw;
    outline: 0;
}

#client-testimonials .next-testimonial svg,
#client-testimonials .prev-testimonial svg {
    max-width: 100%;
    width: 6dvw;
    fill: var(--accent-color-80);
    scale: 1;
    transition: all 250ms ease-in-out 0s;
}

#client-testimonials .next-testimonial:is(:focus, :hover) svg,
#client-testimonials .prev-testimonial:is(:focus, :hover) svg {
    fill: var(--accent-color);
    scale: 1.25;
}

#client-testimonials .next-testimonial {
    right: 2dvw;
    rotate: 270deg;
}

#client-testimonials .prev-testimonial {
    left: 2dvw;
    rotate: 90deg;
}

/* Meet our team: /partials/team-members.hbs */

#meet-our-team {
    padding-top: 10vb;
    padding-bottom: 5vb;
    background-color: var(--color-light-grey);
}

#meet-our-team .container {
    padding: 1vb;
    padding-bottom: 10vb;
    gap: 1vb;
}

#meet-our-team .container .post {
    padding: 1vb;
    flex: 1 0 40vb;
    max-width: 100%;
    width: 40vb;
    gap: 1vb;
    cursor: default;
    user-select: text;
    background-color: transparent;
    outline-style: dashed;
    outline-color: var(--accent-color);
    outline-width: 0;
    scale: .9;
    transform: translate(0, 0);
    transition: all 250ms ease-in-out 0s;
}

#meet-our-team .container .post:is(:active, :hover) {
    outline-width: thick;
    scale: 1;
    transform: translate(0, -.25em);
    transition: all 500ms ease-out 0s;
}

#meet-our-team .post :is(header, div) {
    flex: 1 0 40vb;
    width: 40vb;
    max-width: 100%;
    gap: 1vb;
    transition-timing-function: ease-in;
}

#meet-our-team .post div {
    align-items: flex-start;
}

#meet-our-team .post h3 {
    line-height: 1.25;
    white-space: nowrap;
    font-size: 2rem;
    text-align: start;
    width: 100%;
}

#meet-our-team .post figure {
    position: relative;
    width: 100dvw;
    max-width: 100%;
    height: 50dvh;
    max-height: 100%;
    filter: grayscale(.5);
    transition: all 250ms ease-in-out 0s;
}

#meet-our-team .container .post:is(:active, :hover) figure {
    filter: drop-shadow(.05em .1em .15em var(--color-black));
    transition: all 250ms ease-in-out 0s;
}

#meet-our-team .post figcaption {
    padding: .5em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--accent-color-100);
    background-color: var(--accent-color);
    width: 100%;
    text-align: center;
}

#meet-our-team .post img {
    display: none;
}

#meet-our-team .post p {
    font-size: 1.15rem;
    line-height: 1.5;
}

#meet-our-team .post p:not(:first-of-type) {
    margin-top: .85em;
}

@media screen and (max-width: 1520px) {
    /* TODO... */
}