/* Required by Ghost */

.kg-width-wide,
.kg-width-full {
    color: currentColor;
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/roboto-v30-latin-900italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Helper classes */

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flexy.row {
    flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.disable-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Elements */

:root {
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color-scheme: light dark;
    --color-blue: #1d70b8;
    --color-dark-blue: #003078;
    --color-light-blue: #5694ca;
    --color-black: #0b0c0c;
    --color-black-40: #0b0c0c40;
    --color-dark-grey: #505a5f;
    --color-mid-grey: #b1b4b6;
    --color-light-grey: #f3f2f1;
    --color-white: #ffffff;
    --color-yellow: #ffdd00;
    --color-purple: #4c2c92;
    --color-light-purple: #6f72af;
    --color-bright-purple: #912b88;
    --color-pink: #d53880;
    --color-light-pink: #f499be;
    --color-orange: #f47738;
    --color-brown: #b58840;
    --color-green: #00703c;
    --color-red: #d4351c;
    --color-light-green: #85994b;
    --color-light-green-40: #85994b40;
    --color-turquoise: #28a197;
    --max-width: 1920px;
    --link-button-text: rgb(75,73,70);
    --link-button-primary: rgb(47,192,82);
    --link-button-secondary: rgb(238,237,233);
    --link-button-tertiary: rgb(255,255,255);
    --link-button-destructive: rgb(253,98,50);
    --link-button-primary-secondary: rgb(30,157,187);
    --link-button-primary-blue-300: rgb(36,183,219);
    --link-button-primary-tertiary: rgb(246,172,47);
    --link-button-disabled: rgb(244,243,241);
    /* Generating accent color and de */
    --accent-color-h: 208;
    --accent-color-s: 73%;
    --accent-color-l: 42%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-10: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 5%));
    --accent-color-20: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
    --accent-color-30: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
    --accent-color-40: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
    --accent-color-50: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 25%));
    --accent-color-60: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 30%));
    --accent-color-70: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 35%));
    --accent-color-80: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 40%));
    --accent-color-90: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 50%));
    --accent-color-100: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 60%));
    --accent-color-110: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 70%));
    --accent-color-120: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 80%));
    --this-feature-image: url();
}

::selection {
    color: var(--color-light-grey);
    background-color: var(--color-black);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

html:has(dialog[open]) {
    overflow: hidden;
}

body {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    color: var(--color-black);
    background-color: var(--accent-color-100);
    width: 100%;
    max-width: var(--max-width);
    gap: 0;
    overflow-x: hidden;
}

body:has(dialog[open]) {
    filter: blur(.1em);
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

dialog {
    border: 1em solid var(--color-bright-purple);
    transition: opacity 500ms;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .7);
    transition: backdrop-filter .5s ease;
}

main.flexy {
    position: relative;
    width: 100%;
    color: var(--color-black);
    background-color: var(--accent-color-100);
    gap: 0;
    font-size: 1.25rem;
    align-items: flex-start;
}

body:not(.home-template) > main.flexy {
    gap: 1em;
}

@keyframes add-padding {
    from {
        padding-top: 0em;
    }

    to {
        padding-top: 0em;
    }
}

body.home-template>main>section {
    padding: 1em;
    width: 100%;
    min-height: 100dvh;
    height: auto;
    transition: opacity 1s ease-out 25s;
    position: relative;
}

.masked {
    -webkit-mask-image: url(w3logo.png);
    mask-image: url(w3logo.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

body.home-template>main>section:first-of-type {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    opacity: 1;
}

body.home-template>main>section,
body.home-template>main>section:hover {
    opacity: 1;
    transition: opacity 250ms ease-in 0s;
}

main.flexy>div:first-of-type {
    padding: 2em 3em;
    gap: 1em;
    font-weight: bold;
    font-size: 1.5rem;
}

main.flexy>div:first-of-type p {
    text-align: start;
    width: 100%;
}

/* Start of page style */

main.post.flexy>header {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 30dvh;
    gap: 1em;
}

main.post.flexy>header>section.title-meta {
    position: absolute;
    padding: 2em 4em;
    inset: auto;
    color: var(--accent-color);
    background-color: #ffffff95;
    gap: .25em;
    width: 100%;
}

main.post.flexy>header>section.title-meta>h1 {
    align-self: flex-start;
    color: inherit;
}

main.post.flexy>figure,
main.post.flexy>header>figure {
    background-color: var(--color-light-green);
    background-image: var(--this-feature-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    width: inherit;
    height: 40dvh;
    min-height: inherit;
    align-self: center;
}

main.post.flexy>figure>img,
main.post.flexy>header>figure>img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: fit-content;
    max-height: 100%;
    height: auto;
}

main.post.flexy>header>div {
    bottom: 0;
}

main.post.flexy>header>div path {
    fill: var(--accent-color-100);
}

main.post.flexy>header>section.title-meta>p {
    font-size: 1.1rem;
    text-align: justify;
    padding-right: 15dvw;
}

main.post.flexy>header>section.title-meta>div {
    border-top: thin inset currentColor;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: bold;
    width: 95%;
    padding-top: 1em;
    margin-top: 1em;
}

main.post.flexy>header>section.title-meta>div>time {}

main.post.flexy>section.content {
    margin: 0 auto;
    padding:  0 12dvw;
    max-width: 85%;
    align-items: flex-start;
    gap: 1em;
}

main.post.flexy>section.content h2 {
    margin-top: 1em;
    margin-bottom: .25em;
}

main.post.flexy>section.content ul {
    list-style-type: square;
    list-style-position: outside;
    line-height: 2.25em;
}

main.post.flexy>section.content blockquote {
    margin:  0 auto 0 .25em;
    padding: .25em 0 .25em 1em;
    color: var(--accent-color);
    border-left: thick solid var(--accent-color-90);
    font-size: 1.5em;
    font-style: oblique;
    line-height: 2em;
    text-align: start;
    font-weight: 700;
}

main.post.flexy>section.content p {
    line-height: 2.5em;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
}

main.post.flexy>section.content a {
    color: currentColor;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-black-40);
    transition: color 250ms ease-in-out 0s;
}

main.post.flexy>section.content a:hover {
    color: var(--color-dark-blue);
    text-decoration-style: solid;
    text-decoration-color: var(--color-black);
    transition: color 250ms ease-in-out 0s;
}

main.post.flexy>section.content table tr:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

main.post.flexy>section.content table tr:active {
    cursor: text;
}

main.post.flexy>section.content table tr td {
    padding: .5em;
    vertical-align: text-top;
}

main.post.flexy>section.content table tr td:nth-of-type(1) {
    width: 40%;
}

main.post.flexy>section.content table tr td:nth-of-type(2) {
    width: 60%;
}

main.post.flexy>section.content figure.kg-card.kg-image-card.kg-card-hascaption {
    text-align: start;

}

main.post.flexy>section.content figure.kg-card.kg-image-card.kg-card-hascaption img {
    mix-blend-mode: multiply;
    width: fit-content;
}

main.post.flexy>section.content figure.kg-card.kg-image-card.kg-card-hascaption figcaption {
    color: var(--color-dark-grey);
    font-size: smaller;
}

main.post.flexy>footer {}

/* End of page style */

body.home-template>main>section.ready-to-talk {
    flex-wrap: nowrap;
    justify-content: flex-start;
    opacity: 1;
    background-color: var(--color-light-blue);
    gap: 1em;
    max-height: 30dvh;
}

body.home-template>main>section.ready-to-talk>h2 {
    color: var(--color-white);
}

section.ready-to-talk>form {
    gap: 1em;
}

section.ready-to-talk>form input {
    width: 20%;
    border-radius: 1em;
    outline: none;
    transition: width 1s ease-in 0s, border-radius 500ms ease-out 0s, outline 750ms ease-in 0s;
}

section.ready-to-talk>form input:hover,
section.ready-to-talk>form input:not(:placeholder-shown):focus {
    width: 27%;
    border-radius: .25em;
    outline: thick solid var(--color-yellow);
    transition: width 1s ease-out 0s, border-radius 500ms ease-in 0s, outline 750ms ease-out 0s;
}

section.knowhow.flexy {
    opacity: 1;
    background-color: var(--color-yellow);
    text-align: center;
    gap: 2em;
}

section.knowhow.flexy>a {
    top: 50dvh;
}

section.knowhow.flexy form {
    gap: 1em;
}

section.knowhow.flexy fieldset {
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
}

div.cta-button {
    text-align: center;
}

button[type="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
div.cta-button a {
    border-radius: 3em;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    width: unset;
    user-select: none;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 1em;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-black);
    background-color: var(--color-light-grey);
    border-radius: 3em;
}

label+input {
    cursor: pointer;
}

div.cta-buttons {
    align-self: center;
    gap: 2em;
    padding-bottom: 2em;
}

div.cta-button {
    align-self: flex-start;
    flex: 1 0 100%;
    width: 100%;
}

div.cta-button a,
div.cta-button button {
    border-radius: 0;
    width: 25%;
    min-width: fit-content;
    transition: width 1s ease-in 0s;
}

div.cta-button a {
    display: block;
    text-decoration: none;
    max-width: 90%;
    box-shadow: .25em .25em 0 var(--accent-color-80);
    transition: all 1s ease-in 0s;
}

:is(button[type="button"],
    input[type="button"],
    input[type="submit"],
    input[type="reset"]):hover,
div.cta-button a:hover {
    width: 100%;
    background-color: var(--color-blue);
    outline: thick solid var(--color-yellow);
    font-weight: bolder;
    transition: all 1s ease-out 0s;
}

div.cta-button a:hover {
    text-decoration: underline;
}

section.knowhow.flexy input[type="submit"] {
    background-color: var(--color-light-green);
}

section.knowhow.flexy input[type="submit"]:hover {
    background-color: var(--color-turquoise);
}

fieldset.flexy {
    flex-wrap: nowrap;
    align-items: flex-start;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.25;
}

h2 {
    font-size: 2.75rem;
    line-height: 1.25;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: inherit;
}

a {
    cursor: pointer;
}

a[href="#main-content"] {
    margin: 0;
    padding: .5em 2em .5em 5em;
    z-index: 99;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    flex: 1 0 100%;
    position: absolute;
    top: 2em;
    right: 0;
    color: var(--accent-color-60);
    background-color: var(--accent-color-100);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    transition: all 250ms ease-out 0s;
}   

a[href="#main-content"]:hover {
    color: var(--color-white);
    background-color: var(--accent-color-30);
    box-shadow: 0.15em 0.15em 0 var(--accent-color-90);
    transition: all 250ms ease-in 0s;
}

/* Elements with classes */

span.hearts {
    color: var(--color-red);
    font-size: x-large;
    cursor: wait;
}

body>header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    z-index: 999;
    will-change: transform;
}

body>header>div.flexy.row {
    /*position: fixed;
    top: 0;*/
    padding: 1em 2em;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    /* opacity: .9; */
    background-color: var(--accent-color-100);
    width: 100%;
    animation: menu-go-down 500ms linear 0s 1 forwards;
    box-shadow: 0 0 .25em var(--color-black-40);
    pointer-events: none;
}

body>header>div.flexy.row>* {
    pointer-events: auto;
}

body>header>div.flexy.row.loose {
    animation: menu-go-up 500ms linear 0s 1 forwards;
}

body>header>div.flexy.row.loose:hover,
body>header>div.flexy.row.loose:active,
body>header>div.flexy.row.loose:focus-within {
    animation: menu-go-down 500ms linear 0s 1 forwards;
}

ul.nav.flexy.row:has(:where(li.nav-solutions:focus-within, li.nav-solutions > a:hover))~ul.solutions-nav,
ul.solutions-nav.flexy.row:has(a:active) {
    display: flex;
}

body>header>div.flexy.row ul~ul.solutions-nav:focus-visible,
body>header>div.flexy.row ul~ul.solutions-nav:focus-within,
body>header>div.flexy.row ul:where(:has(li.nav-solutions):has(a:hover))~ul.solutions-nav {
    display: flex;
}

body>hr {
    margin: 2em 0;
    width: 45%;
    max-width: 96%;
    border: thin inset currentColor;
}

body.home-template>hr {
    display: none;
}

ul.solutions-nav {
    pointer-events: none;
}

ul.solutions-nav:hover {
    pointer-events: auto;
}

figure.rapid-logo {
    max-width: 280px;
}

header figure.rapid-logo {
    max-width: 10em;
}

header figure.rapid-logo>a {
    user-select: none;
}

header figure.rapid-logo img {
    mix-blend-mode: normal;
}

div:has(dialog) {
    position: relative;
}

svg {
    max-width: 100%;
    height: auto;
}

/* Some animations */

svg g#planet-one {
    animation: clockwise 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#planet-three {
    animation: left-right 3s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
    fill: var(--color-bright-purple);
}

svg path#rectangular-two {
    animation: shake-it 3s linear 0s infinite forwards;
    /*transform-origin: center;*/
    transform-box: fill-box;
}

svg path#square-one {
    animation: clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

svg path#square-two {
    animation: anti-clockwise 5s linear 0s infinite forwards;
    transform-origin: center;
    transform-box: fill-box;
}

/* End of some animations */

g#version-control path#cup {
    animation: cup-color 12s ease-in-out 0s infinite forwards;
}

@keyframes cup-color {
    0% {
        fill: var(--color-yellow);
    }

    25% {
        fill: var(--color-orange);
    }

    85% {
        fill: var(--color-red);
    }
}

g#line-one path,
g#line-two path {
    transform-origin: center;
    transform-box: fill-box;
}

g#line-one path {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

g#line-two path {
    animation: left-to-right 3s linear 0s 1 forwards, opacity-orange 6s linear 0s infinite forwards;
}

path#line-three,
path#line-four,
path#line-five {
    animation: opacity-orange 5s linear 0s infinite forwards;
}

path#ellipse-one,
path#ellipse-two,
path#ellipse-three,
path#ellipse-four,
path#ellipse-five,
path#ellipse-six,
path#ellipse-seven,
path#ellipse-eight,
path#ellipse-nine {
    transform-origin: center;
    transform-box: fill-box;
    animation: enlarge-one 5s linear 500ms infinite;
}

path#ellipse-four {
    animation: enlarge-two 5s linear 2s infinite;
}

path#ellipse-three,
path#ellipse-nine {
    animation: enlarge-two 4s linear 2s infinite;
}

path#coffee-steam {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: steaming 20s linear 0s infinite;
}

@keyframes steaming {

    0%,
    100% {
        opacity: .25;
        scale: .25;
        fill: var(--color-light-blue);
    }

    25%,
    75% {
        opacity: .5;
        scale: .5;
        fill: var(--color-light-grey);
    }

    50% {
        opacity: .75;
        scale: .75;
        fill: var(--color-light-blue);
    }
}

@keyframes enlarge-one {

    0%,
    100% {
        scale: .85;
    }

    30% {
        fill: var(--color-blue);
    }

    25%,
    75% {
        scale: 1;
    }

    50% {
        scale: 1.25;
    }

    80% {
        fill: var(--color-light-grey);
    }

    90% {
        fill: var(--color-light-blue);
    }
}

@keyframes enlarge-two {

    0%,
    100% {
        scale: 1;
    }

    10%,
    90% {
        scale: 1.25;
    }

    25%,
    75% {
        scale: 1.5;
    }
}

@keyframes left-to-right {
    from {
        translate: -75% 0;
    }

    to {
        translate: none;
    }
}

@keyframes opacity-orange {

    0%,
    100% {
        opacity: .1;
    }

    25%,
    75% {
        opacity: .6;
        fill: var(--color-orange);
    }

    50% {
        opacity: 1;
    }
}

@keyframes left-right {

    0%,
    100% {
        translate: none;
    }

    25%,
    75% {
        translate: 2em .5em;
    }

    50% {
        translate: -1em -1em;
    }
}

@keyframes clockwise {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes anti-clockwise {
    from {
        rotate: 360deg;
    }

    to {
        rotate: 0deg;
    }
}

ul.nav.flexy.row {
    list-style-type: none;
    gap: 1em;
    font-weight: bold;
}

li.nav-solutions svg,
ul.solutions-nav svg {
    width: 1.25rem;
    vertical-align: middle;
}

ul.solutions-nav svg {
    rotate: -90deg;
}

li.nav-solutions:focus-within svg,
li.nav-solutions:focus-visible svg,
li.nav-solutions a:hover svg {
    animation: point-down 1s linear 0s infinite;
}

ul.solutions-nav a:hover svg {
    animation: point-right 1s linear 0s infinite;
}

li.nav-solutions span {
    margin-right: .25em;
}

ul.solutions-nav span {
    margin-left: .25em;
}

body>header>div.flexy.row ul~ul.solutions-nav {
    display: none;
    margin: 0 auto;
    padding: 1em;
    place-content: flex-start center;
    position: absolute;
    max-width: 50em;
    height: fit-content;
    inset: 0;
    top: 7em;
    gap: 1em;
    list-style-type: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1rem;
    /*border: thick solid currentColor;
    border-top: none;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;*/
    box-shadow: 0 0 .15em var(--color-black-40);
    box-shadow: 0 0 .25em var(--color-black-40);
}

/*ul.solutions-nav::before {
    content: "\27A7";
    position: absolute;
    top: -0.5em;
    left: 1.25em;
    font-size: 3rem;
    color: var(--color-white);
    z-index: -1;
    width: 7em;
    height: 1.75em;
    background-color: var(--color-orange);
    rotate: 169deg;
}*/

ul.solutions-nav li {
    flex: 0 0 fit-content;
    text-transform: capitalize;
}

li.nav-current {
    padding: .25em .85em;
    background-color: var(--accent-color-90);
    border-radius: 5em;
}

ul.nav.flexy.row a,
ul.solutions-nav.flexy.row a {
    text-decoration: none;
}

ul.nav.flexy.row a:hover,
ul.nav.flexy.row a:focus,
ul.solutions-nav.flexy.row a:hover,
li.nav-solutions:focus-within {
    text-decoration: underline;
    color: var(--accent-color);
}

li.nav-solutions svg path,
ul.solutions-nav.flexy.row svg path {
    fill: var(--color-black);
}

li.nav-solutions a:hover path,
li.nav-solutions:focus-within path,
ul.solutions-nav.flexy.row a:hover path {
    fill: var(--accent-color);
}

section.compliance.flexy.row {
    padding: 1em;
    background-color: var(--color-light-grey);
    gap: 3em;
}

section.compliance.flexy.row>figure {
    flex: 0 0 30%;
    width: 30%;
}

section.compliance.flexy.row>div {
    flex: 1 0 36%;
    width: 36%;
    max-width: 55%;
    text-transform: capitalize;
    text-transform: uppercase;
    gap: 3em;
}

section.compliance.flexy.row h2 {
    color: var(--color-purple);
    font-size: 2.25rem;
    line-height: 1.5;
}

section.compliance.flexy.row div.cta-button {
    gap: 3em;
}

section.compliance.flexy.row div.cta-button button[type="button"] {
    flex: 0 0 fit-content;
    width: fit-content;
    transition: all 1s ease-in 100ms;
}

section.compliance.flexy.row div.cta-button button[type="button"]:nth-child(1) {
    background-color: var(--color-light-blue);
}

section.compliance.flexy.row div.cta-button button[type="button"]:nth-child(2) {
    background-color: var(--color-light-purple);
}

section.compliance.flexy.row div.cta-button button[type="button"]:nth-child(3) {
    background-color: var(--color-light-pink);
}

section.compliance.flexy.row div.cta-button button[type="button"]:hover {
    flex: 1 0 30%;
    width: 30%;
    background-color: var(--color-dark-blue);
    transition: all 1s cubic-bezier(.35, 1.25, 1, -.75) 0ms;
}

section#briefly.flexy {
    position: relative;
    padding: 1em 2em;
    color: var(--color-white);
    background-color: var(--color-red);
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10em;*/
    gap: 2em;
}

body>footer.flexy>div.divider-top,
div.divider-bottom {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -1em;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    user-select: none;
}

body.home-template>footer.flexy>div.divider-top {
    top: 0;
}

div.divider-bottom {
    top: unset;
    bottom: -1px;
    transform: rotate(180deg);
}

section#briefly.flexy>div.divider-top>svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

section#briefly.flexy>div.divider-top path.shape-fill {
    fill: var(--color-white);
}

section#briefly.flexy>div.divider-bottom path.shape-fill {
    fill: var(--color-light-blue);
}

section#briefly.flexy>article {
    flex: 1 0 58%;
    max-width: 50%;
    width: 58%;
    
}

section#briefly.flexy>button {
    flex: 0 0 38%;
    max-width: 38%;
}

section#briefly.flexy article div {
    align-items: flex-start;
    gap: 1em;
}

/* Get the app section */
section#get-the-app.flexy {
    opacity: 1;
    padding: 2em 1em;
    position: relative;
    overflow: hidden;
    min-height: 85dvh;
    height: auto;
    gap: 1em;
}

section#get-the-app.flexy>aside {
    margin-left: 50dvw;
    padding: .5em 3em;
    border-top-left-radius: 5em;
    cursor: pointer;
    position: absolute;
    inset: 0;
    top: unset;
    color: var(--color-white);
    background-color: var(--color-light-blue);
    z-index: 9;
    box-sizing: 0 0 0.25em var(--color-black-40);
    transform: translateY(8.5em);
    transition: all 200ms ease 0s;
}

section#get-the-app.flexy>aside:hover,
section#get-the-app.flexy>aside:focus,
section#get-the-app.flexy>aside:focus-visible {
    margin-left: 0;
    border-top-left-radius: 0;
    background-color: var(--color-blue);
    transform: translateY(0);
    transition: all 200ms ease 0s;
}

section#get-the-app.flexy div.divider-top path.shape-fill {
    fill: var(--color-light-blue);
}

@keyframes scrollups {
    0% {
        transform: translateY(4.5em);
    }

    15% {
        transform: translateY(3.75em);
    }

    30% {
        transform: translateY(3em);
    }

    45% {
        transform: translateY(2.25em);
    }

    60% {
        transform: translateY(2.5em);
    }

    75% {
        transform: translateY(1.75em);
    }

    90% {
        transform: translateY(1em);
    }

    100% {
        transform: translateY(0);
    }
}

section#get-the-app.flexy>p {
    padding: .25em 3em;
    line-height: 2em;
    font-size: xx-large;
}

section#get-the-app.flexy>div.flexy.row {
    width: 100%;
    gap: 3em;
}

section#get-the-app.flexy>div.flexy.row>figure:nth-of-type(1) {
    max-width: 10em;
}

section#get-the-app.flexy>div.flexy.row>figure:nth-of-type(2) {
    max-width: 12.75em;
}

section#get-the-app.flexy>div.flexy.row>figure:nth-of-type(3) {
    padding-top: .65em;
    scale: 1;
    width: 100%;
    max-width: 9.25em;
    transition: scale 250ms ease 0s;
}

section#get-the-app.flexy>div.flexy.row>figure {
    cursor: pointer;
    user-select: none;
}

section#get-the-app.flexy>div.flexy.row>figure:hover {
    scale: 1.05;
    transition: scale 250ms ease-out 0s;
}

section#get-the-app.flexy>footer>pre {
    opacity: .5;
    color: var(--color-mid-grey);
    font-size: .85rem;
    transition: all 250ms ease-out 0s;
}

section#get-the-app.flexy>div.flexy.row:has(>figure:nth-of-type(1):hover)~footer>pre:nth-of-type(1),
section#get-the-app.flexy>div.flexy.row:has(>figure:nth-of-type(2):hover)~footer>pre:nth-of-type(2),
section#get-the-app.flexy>div.flexy.row:has(>figure:nth-of-type(3):hover)~footer>pre:nth-of-type(3) {
    opacity: 1;
    color: var(--color-black);
    transition: all 250ms ease-out 0s;
}

section.clients.flexy {
    color: var(--color-dark-blue);
    background-color: var(--color-light-grey);
    gap: 1em;
}

/* First main section */

section.pre-clients {
    color: var(--color-white);
    background-color: var(--color-mid-grey);
    background-color: #4c825c;
    color: var(--color-black);
    background-color: floralwhite;
    justify-content: flex-start;
    gap: 1em;
}

section.pre-clients article {
    width: 100%;
    gap: 2em;
}

section.pre-clients article>div.flexy {
    align-content: flex-start;
    gap: 1em;
    color: var(--color-black);
    animation: shadowing 3s linear 0s infinite normal;
}

@keyframes shadowing {
    0% {
        text-shadow: 0.05em 0.05em 0.25em var(--color-white);
    }

    15% {
        text-shadow: 0.05em 0.05em 0.25em var(--color-light-grey);
    }

    85% {
        text-shadow: 0.05em 0.05em 0.25em var(--color-white);
    }
}

section.pre-clients>article.more-clients {
    position: static;
    animation: slide-up 1s linear 10ms 1 forwards;
    overflow: hidden;
}

section.pre-clients>article.more-clients>h2 {
    padding: 0;
    color: var(--color-black);
    animation: shadowing 3s linear 0s infinite normal;
    font-size: 2.25rem;
    cursor: default;
}

section.pre-clients>article.more-clients>a {
    position: relative;
    display: block;
    flex: 1 0 10dvw;
    max-width: 100%;
    width: 100dvw;
    animation: point-down 1s linear 0s infinite;
    cursor: pointer;
    user-select: none;
}

section.pre-clients>article.more-clients>a>svg {
    position: absolute;
    top: -3em;
    max-height: 10em;
    width: 100%;
    animation: point-down 1s linear 0s infinite;
}

section.pre-clients>article.more-clients>a:nth-of-type(2)>svg {
    top: unset;
    bottom: 12em;
}

section.pre-clients>article.more-clients>a path {
    
    fill: var(--accent-color-80);
    transition: all 250ms ease-out 0s;
}

section.pre-clients>article.more-clients>a:hover path {
    fill: var(--accent-color-20);
    transition: all 250ms ease-in 0s;
}

section.pre-clients>article.more-clients>div.flexy {
    margin-left: 20%;
    margin-right: 0%;
    padding: 45dvh 1dvw;
    padding-bottom: 55dvh;
    width: 100%;
    direction: ltr;
    max-height: 24dvh;
    -webkit-animation-name: move;
    -webkit-animation-duration: 40s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-name: move;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation: move 40s linear 1s infinite alternate;
    animation-play-state: running;
    gap: 5em;
}

section.pre-clients>article.more-clients>div.flexy>figure {
    padding: 1em;
    flex: 1 0 14vb;
    text-align: center;
    mix-blend-mode: normal;
    height: 14vb;
    flex-wrap: nowrap;
    gap: .25em;
    user-select: none;
}

section.pre-clients>article.more-clients>div.flexy>figure>figcaption {
    display: none;
}

section.pre-clients>article.more-clients>div.flexy:has(figure:hover) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

section.pre-clients>article.more-clients>div.flexy>figure:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 0.15em var(--color-black-40);
}

section.pre-clients>article.more-clients>div.flexy>figure:hover>figcaption {
    display: block;
    font-size: .85rem;
    color: var(--color-dark-grey);
}

section.pre-clients>article.more-clients>div.flexy>figure svg {
    /*inline-size: 36vb;
    block-size: 12vb;*/
    height: 75%;
    width: 100%;
}

@-webkit-keyframes move {
    0% {
        margin-right: 0%;
    }

    100% {
        margin-right: 270%;
    }
}

@keyframes move {
    0% {
        margin-right: 0%;
    }

    100% {
        margin-right: 270%;
    }
}

section.pre-clients article.five-clients {
    display: none;
}

section.pre-clients article.five-clients>div.flexy {
    padding: 1em 3em;
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5em;
}

section.pre-clients article.five-clients>div.flexy::before,
section.pre-clients article.five-clients>div.flexy::after,
section.pre-clients article.more-clients>div.flexy::before,
section.pre-clients article.more-clients>div.flexy::after {
    content: "";
    background-color: #ffffff90;
    height: 150px;
    min-width: 150px;
    outline: thick solid red;
    border-radius: 50%;
    filter: blur(5em);
    position: absolute;
    z-index: 999;
    user-select: none;
}

section.pre-clients article.five-clients>div.flexy::before,
section.pre-clients article.more-clients>div.flexy::before {
    left: -5em;
}

section.pre-clients article.five-clients>div.flexy::after,
section.pre-clients article.more-clients>div.flexy::after {
    right: -5em;
}

section.pre-clients article.five-clients>div.flexy figure {
    max-width: 150px;
    flex: 0 0 150px;
}

section.pre-clients article.five-clients>div.flexy figure img {
    opacity: .4;
    filter: blur(.25em);
    transition: opacity ease-in 250ms 0s, filter ease-out 250ms 0s;
}

section.pre-clients article.five-clients>div.flexy figure img:hover {
    cursor: pointer;
    opacity: 1;
    filter: none;
    transition: opacity ease-out 250ms 0s, filter ease-in 250ms 0s, ;
}

section.pre-clients h1 {
    padding-left: .25em;
    max-width: 13em;
    font-size: 4.5rem;
    font-weight: 900;
    cursor: default;
}

section.pre-clients p {
    padding-left: 1em;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: justify;
}

article.main-message {
    padding: 2em;
    padding-top: 10%;
    justify-content: space-between;
}

article.main-message> :is(div, figure) {
    flex: 1 0 40%;
    max-width: 100%;
}

article.main-message>div {
    width: 100%;
}

article.main-message svg {
    width: 85%;
}

section.the-app.flexy.row {
    padding: 2em 0em;
    color: var(--color-dark-blue);
    background-color: var(--color-white);
    justify-content: space-between;
    gap: 1em;
}

section.the-app.flexy.row>a {
    top: unset;
    bottom: 2em;
}

section.the-app.flexy.row>div,
section.the-app.flexy.row>figure {
    flex: 0 0 48%;
    max-width: 48%;
    max-height: 100%;
}

section.the-app.flexy.row>figure {
    user-select: none;
    cursor: pointer;
}

section.the-app.flexy.row>figure>a>img {
    border-top-left-radius: 20em;
    border-bottom-left-radius: 15em;
    box-shadow: 1.25em .65em 0 var(--accent-color-90);
    transition: box-shadow 250ms ease-in 0s;
}

section.the-app.flexy.row>figure>a>img:hover {
    box-shadow: 1.25em .65em 0 var(--accent-color-80);
    transition: box-shadow 250ms ease-out 0s;
}

section.the-app.flexy.row>div {
    align-content: flex-start;
    padding: 0;
    padding-left: 4em;
    gap: 2em;
}

section.the-app.flexy.row>div>h2 {
    font-size: 2.5rem;
    word-wrap: normal;
    font-weight: 700;
    cursor: default;
}

section.the-app.flexy.row>div>p {
    font-size: 1.15rem;
    font-weight: 300;
    text-align: justify;
}

article.main-message figure {
    padding-right: 1em;
    text-align: end;
    animation: slide-left 500ms linear 10ms 1 forwards;
}

article.main-message>div.flexy {
    gap: .5em;
    font-size: 2rem;
    align-items: flex-start;
    animation: slide-right 500ms linear 10ms 1 forwards;
}

section.pre-clients article.five-clients {
    padding: 1em;
    flex: 1 0 100%;
    width: 100%;
    background-color: var(--color-dark-blue);
    gap: 1em;
    animation: slide-up 1s linear 10ms 1 forwards;
    overflow-x: hidden;
}

div.five-points {
    padding: 2em 0;
    gap: .25em;
}

div.five-points>div {
    padding: 1em;
    flex: 0 0 18%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    height: 25em;
}

div.five-points>div>span:first-of-type {
    font-size: 8rem;
}

div.five-points>div>span:last-of-type {
    font-size: 2rem;
}

div.five-points>div:nth-of-type(1) {
    background-color: var(--color-light-blue);
}

div.five-points>div:nth-of-type(2) {
    background-color: var(--color-light-green);
}

div.five-points>div:nth-of-type(3) {
    background-color: var(--color-light-pink);
}

div.five-points>div:nth-of-type(4) {
    background-color: var(--color-light-purple);
}

div.five-points>div:nth-of-type(5) {
    background-color: var(--color-turquoise);
}

aside.cookies {
    display: none;
    padding: 3em;
    position: fixed;
    bottom: 0;
    color: var(--color-light-grey);
    background-color: var(--color-black);
    gap: 1em;
    opacity: .9;
    z-index: 999;
}

aside.cookies :is(h4, p, a)::selection {
    color: var(--color-black);
    background-color: var(--color-light-grey);
}

aside.cookies h4,
aside.cookies form {
    width: 100%;
    flex: 1 0 100%;
}

aside.cookies form {
    gap: 2em;
}

aside.cookies button[type="button"] {
    opacity: 1;
    flex: 0 0 max-content;
    border-radius: 0%;
}

@keyframes shake-it {

    0%,
    100% {
        transform: translateX(0) rotate(0deg);
    }

    10%,
    30% {
        transform: translateX(2px) rotate(20deg);
    }

    50%,
    70%,
    90% {
        transform: translateX(-2px) rotate(-10deg);
    }

    20%,
    40% {
        transform: translateX(2px) rotate(5deg);
    }

    60%,
    80% {
        transform: translateX(-2px) rotate(-10deg);
    }
}

@keyframes point-down {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    90% {
        transform: translateY(1px);
    }

    20%,
    80% {
        transform: translateY(2px);
    }

    30%,
    70% {
        transform: translateY(3px);
    }

    40%,
    60% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(3px);
    }
}

@keyframes point-right {

    0%,
    100% {
        transform: translateX(-1px);
    }

    10%,
    90% {
        transform: translateX(0px);
    }

    20%,
    80% {
        transform: translateX(1px);
    }

    30%,
    70% {
        transform: translateX(2px);
    }

    40%,
    60% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(2px);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(150%);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes menu-go-up {
    from {
        -webkit-transform: none;
        transform: none;
    }

    to {
        transform: translateY(-80%);
    }
}

@keyframes menu-go-down {
    from {
        transform: translateY(-80%);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    10% {
        transform: translateX(-90%);
    }

    20% {
        transform: translateX(-80%);
    }

    30% {
        transform: translateX(-70%);
    }

    40% {
        transform: translateX(-60%);
    }

    50% {
        transform: translateX(-50%);
    }

    60% {
        transform: translateX(-40%);
    }

    70% {
        transform: translateX(-30%);
    }

    80% {
        transform: translateX(-20%);
    }

    90% {
        transform: translateX(-10%);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(90%);
    }

    20% {
        transform: translateX(80%);
    }

    30% {
        transform: translateX(70%);
    }

    40% {
        transform: translateX(60%);
    }

    50% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(40%);
    }

    70% {
        transform: translateX(30%);
    }

    80% {
        transform: translateX(20%);
    }

    90% {
        transform: translateX(10%);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}