:root {
    --this-accent-color: var(--color-light-blue);
}

body.tag-template.tag-solutions>main#main-content {
    margin: 0;
    padding: 0;    
    gap: 2em;
}

body.tag-template.tag-solutions>main#main-content>figure {
    flex: 1 0 20dvh;
    min-height: 20dvh;
    width: 100%;
    background-color: var(--this-accent-color);
    background-position: bottom center;
}

body.tag-template.tag-solutions>main#main-content>header {
    flex: 1 0 100%;
    text-align: justify;
    cursor: default;
}

body.tag-template.tag-solutions>main#main-content>header p {
    margin: 1em auto;
    text-align: inherit;
    font-size: 2rem;
    max-width: 95%;
    width: 75dvw;
}

body.tag-template.tag-solutions>main#main-content h1 {
    color: var(--color-orange);
    color: currentColor;
    /*text-shadow: .05em .05em 0 var(--color-yellow);
    text-decoration: underline wavy var(--color-light-blue);*/
    text-transform: capitalize;
    text-transform: uppercase;
    font-size: 3.25em;
    line-height: normal;
    max-width: 100%;
    cursor: pointer;
    margin-left: 2.75em;
}

body.tag-template.tag-solutions>main#main-content h1:hover {
    color: var(--color-red);
    text-shadow: .05em .05em 0 var(--color-light-grey);
    text-decoration-color: var(--color-blue);
}


body.tag-template.tag-solutions>main#main-content>div {
    padding: 3em;
    padding-top: 1em;
    align-items: flex-start;
    gap: 3em;
}

body.tag-template.tag-solutions>main#main-content article {
    flex: 1 0 26dvw;
    max-width: 26dvw;
    padding: 0;
    border: .1em solid var(--color-black);
    background-color: var(--color-light-grey);
    align-items: flex-start;
    gap: 1em;
    -webkit-box-shadow: .25em .25em 0 var(--color-light-blue);
    box-shadow: .25em .25em 0 var(--color-light-blue);
    border-radius: .25em;
}

body.tag-template.tag-solutions>main#main-content article:hover {
    border-width: .125em;
    cursor: pointer;
    transform: translateY(-.1em);
}

body.tag-template.tag-solutions>main#main-content article:hover>*:is(a, p) {
    display: block;
    color: var(--color-dark-blue);
    width: fit-content;
}

body.tag-template.tag-solutions>main#main-content article:hover>a {
    font-weight: 700;
    text-decoration: underline;
    color: var(--color-white);
    background-color: var(--color-blue);
}

body.tag-template.tag-solutions>main#main-content article:hover>figure>img {
    scale: 1.05;
}

body.tag-template.tag-solutions>main#main-content article.odd:hover {
    -webkit-box-shadow-: .35em .35em 0 var(--color-turquoise);
    box-shadow: .35em .35em 0 var(--color-turquoise);
}

body.tag-template.tag-solutions>main#main-content article.even:hover {
    -webkit-box-shadow: .35em .35em 0 var(--color-blue);
    box-shadow: .35em .35em 0 var(--color-blue);
}

body.tag-template.tag-solutions>main#main-content article.odd:hover>h2 {
    color: var(--color-turquoise);
}

body.tag-template.tag-solutions>main#main-content article.even:hover>h2 {
    color: var(--color-blue);
}

body.tag-template.tag-solutions>main#main-content article>h2 {
    margin-right: auto;
    padding: .85em .75em 0;
    list-style: normal;
    color: var(--color-light-purple);
}

body.tag-template.tag-solutions>main#main-content article>p {
    padding: 0 2em;
    text-align: justify;
}

body.tag-template.tag-solutions>main#main-content article>a {
    margin-left: 2em;
    position: relative;
    display: block;
    padding: .5em 2em;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-light-grey);
    background-color: var(--color-light-blue);
    border-radius: .5em;
}

body.tag-template.tag-solutions>main#main-content article>a::after {
    position: absolute;
    right: 1em;
    bottom: .5em;
    content: "\2197";
    font-size: 1em;
    color: var(--color-light-grey);
}

body.tag-template.tag-solutions>main#main-content article:hover>a::after {
    right: .35em;
    bottom: 0;
    font-size: 1.5em;
    color: var(--color-white);
}

body.tag-template.tag-solutions>main#main-content article>figure {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}

body.tag-template.tag-solutions>main#main-content article>figure>img {
    border-radius: inherit;
    display: inline-block;
    height: inherit;
}

body.tag-template.tag-solutions>footer.flexy>div.divider-top path.shape-fill {
    fill: var(--this-accent-color);
}

body.tag-template.tag-solutions>hr {
    display: none;
}