/* Tag heading */

.tag-solutions .post > hgroup {
    flex: 1 0 fit-content;
    width: fit-content;
    text-align: justify;
    align-items: flex-start;
    gap: .5rem;
}

/* The container */

.tag-solutions .post .container {
    padding: 8rem 6rem;
    gap: 5rem;
}

/* The card */

.tag-solutions .post .container article {
    padding: .25rem;
    cursor: pointer;
    flex: 1 0 20rem;
    width: 20rem;
    max-width: 27%;
    background-color: var(--accent-color-100);
    align-items: flex-start;
    gap: 1rem;
    overflow: hidden;
    transition: all ease-in 150ms 0s;
}

.tag-solutions .post .container article:hover {
    background-color: var(--accent-color-120);
    transform: translate(.1rem, -.2rem);
    transition: all ease-out 150ms 0s;
}

.tag-solutions .post .container .odd:hover {
    -webkit-box-shadow-: .15rem .15rem 0 var(--accent-color-90);
    box-shadow: .15rem .15rem 0 var(--accent-color-90);
    outline-color: var(--accent-color-90);
}

.tag-solutions .post .container .even:hover {
    -webkit-box-shadow: .15rem .15rem 0 var(--accent-color-90);
    box-shadow: .15rem .15rem 0 var(--accent-color-90);
    outline-color: var(--accent-color-90);
}

.tag-solutions .post .container h2 {
    padding: .5rem 1rem 0;
    flex: 0 1 fit-content;
    width: fit-content;
    color: var(--accent-color);
}

.tag-solutions .post .container p {
    padding: 0 1dvw;
}

.tag-solutions .post .container a {
    position: relative;
    display: block;
    margin-left: 1rem;
    padding: 1rem 3rem 1rem 2rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--accent-color);
    background-color: var(--accent-color-80);
    transition: all ease-in 200ms 0s;
}

.tag-solutions .post .container article:hover a {
    font-weight: 600;
    color: var(--accent-color-100);
    background-color: var(--accent-color);
    text-shadow: 0 0 5rem var(--accent-color-50);
    -webkit-box-shadow: .15rem .15rem 0 var(--accent-color-80);
    box-shadow: .15rem .15rem 0 var(--accent-color-80);
    padding-right: 3rem;
    transition: all ease-out 200ms 0s;
}

.tag-solutions .post .container a::after {
    padding: .25rem;
    position: absolute;
    right: 1rem;
    bottom: .85rem;
    content: "\2197";
    font-weight: 500;
    font-size: 1rem;
    color: var(--accent-color-100);
    border-radius: .2rem;
    background-color: var(--accent-color-50);
    transition: all ease-in 200ms 0s;
}

.tag-solutions .post .container article:hover a::after {
    right: .75rem;
    bottom: .55rem;
    font-size: 1.5rem;
    color: var(--accent-color);
    transition: all ease-out 200ms 0s;
}

.tag-solutions .post .container article hgroup {
    flex: 0 1 fit-content;
    width: 100%;
    align-items: flex-start;
}

.tag-solutions .post .container article figure {
    flex: 0 1 25dvh;
    height: 25dvh;
    width: 100dvw;
    max-width: 100%;
}

/* Post template */

.post-template.tag-solutions .post #content {
    justify-content: center;
}

.post-template.tag-solutions .post section:first-of-type {
    padding: 4rem;
    min-height: 90dvh;
    justify-content: space-evenly;
    gap: 4rem;
}

.post-template.tag-solutions .post section:first-of-type :is(hgroup, figure) {
    flex: 1 0 40rem;
    height: 30rem;
    width: 40rem;
    align-items: flex-start;
}

.post-template.tag-solutions .post [data-slug="communication"],
.post-template.tag-solutions .post [data-slug="estates"] {
    flex-direction: row-reverse;
}